[2014-08-19 11:37] giokokos opened #59 "Collapsible panels produce glitches when sliding up/down"
The bug is introduced [here](https://github.com/inveniosoftware/invenio/blob/pu/invenio/modules/deposit/static/js/deposit/form.js#L1157).

Possible solution:
- Move this line out of the init()
- Remove completely this line if this doesn't affect anything in invenio

[2014-08-19 12:20] #59 closed, assigned to nobody

[2014-08-26 12:09] giokokos opened #70 "Typeahead error produced on the search box"
Reproduced also on the https://inspirelabstest.cern.ch/. Just open the dev console of the browser and try to focus/unfocus on the input of the search box. The below error is given:

If you also start typing, the focus hangs on the search box.

@kneczaj Any ideas on it?

[2014-08-28 16:21] kneczaj opened #76 "Inspire search works for full words only"
The search returns the results only matching exact words of the query. Maybe in some situations it's desired, but normally it shrinks the results much.

[2014-09-02 08:38] giokokos opened #77 "Undefined page property of DOI raises error"
There are some DOIs that don't have the "page" property in their JSON schema, therefore the following error is raised when such a DOI is imported.

##### For example:

The `10.1103/PhysRevD.90.036007` will raise the error but not the `10.1063/1.4894158`.

[2014-09-02 09:26] giokokos opened #79 "RFC client side testing of forms"
## Idea

It'd be nice to use testing frameworks for JavaScript.
## Proposals
- Library to fake XMLHttpRequest and AJAX calls: http://sinonjs.org/
- Behavior Driven Development testing framework for JavaScript. It does not rely on browsers, DOM, or any JavaScript framework. http://jasmine.github.io/2.0/introduction.html
### Testing

Our custom JS libraries for the forms.

[2014-09-03 14:52] jmartinm opened #80 "deposit: validation problem on first import"
1. Create totally new deposition
2. Import an identifier

Author validation complains

![image](https://cloud.githubusercontent.com/assets/580727/4135845/e6686be4-3379-11e4-9d2f-c8f344fec040.png)

[2014-09-08 07:57] #77 closed, assigned to giokokos

[2014-09-08 15:35] #76 closed, assigned to jmartinm

[2014-09-09 09:17] #79 closed, assigned to nobody

[2014-09-09 11:24] #80 closed, assigned to nobody

[2014-09-10 09:49] #70 closed, assigned to nobody

[2014-09-10 09:51] jmartinm opened #88 "deposit: run in ASSETS_DEBUG= False problem"
When running in 'production mode' with Bundle generation there is currently an error related to ``r.js` that complains about inspire_init dependencies problem.

[2014-09-12 13:00] jmartinm opened #91 "deposit: no subject validation bug"
In the subjects field that uses multiselect, if several fields are selected and then all of them de-selected, the following error comes up:

![image](https://cloud.githubusercontent.com/assets/580727/4249855/c862f844-3a7c-11e4-9265-e30536bab678.png)

[2014-09-12 13:06] jmartinm opened #92 "search_box.js needs requirejs adaptation"
While working to fix https://github.com/inspirehep/inspire-next/issues/88 I have seen that the main INSPIRE page contains the file ```search_box.js``` which is not AMD compatible so the following line gives an error:

[code]

The module should be converted using:

1. ```Define``` to declare the module
2. Use ```require("bootstrap")``` to get $.fn.tab available

This should be tested using the vari

[2014-09-18 12:50] #88 closed, assigned to jmartinm

[2014-09-22 11:27] jalavik opened #99 "Top sign-in does not work"
Currently there are two sign-ins on INSPIRE. The one that appears when trying access a page that requires a login. And one modal from the "Sign in" button at the upper right corner.

However, the upper right sign-in modal does not work. See screenshot:

![img](http://dl.dropbox.com/u/19162117/Selection_006.png)

[2014-10-06 08:25] #99 closed, assigned to nobody

[2014-10-07 14:47] #91 closed, assigned to nobody

[2014-10-20 12:25] kneczaj opened #114 "Two conflicting versions of moment.js in dependecies"
This is the result of `bower install`:

[code]

[2014-10-20 13:15] kneczaj opened #115 "settings.js from invenio gets ovewritten"
I remember @jmartinm you did (maybe with Lars) the fix for overwriting mustache templates. Now static files from inspire overwite the ones from invenio with the same name.  The problem occurs with settings.js used by require.js. It seems that the one from invenio gets overwritten by inspire's counterpart. This means that all the paths declared there are not available from inspire, and we may get p

[2014-10-27 08:03] #115 closed, assigned to nobody

[2014-10-27 08:07] #114 closed, assigned to nobody

[2014-11-05 18:38] jalavik opened #136 "deposit: spinning submission due to validation error"
With latest labs and master branch, we are seeing the submission getting stuck on render_form() task after submitting the form due to some "hidden"/unknown validation failure happening during save() - causing the form to be reloaded instead of showing a pretty confirmation screen.

First investigation stated the validated == False during submission.

Will need to be further investigated...

@inspi

[2014-11-06 09:45] pedrogaudencio opened #137 "RFC exclusive fields for each kind of document"
It doesn't make sense to work on thesis exclusive fields such as `degree_type` or `defense_date` when we got an article document type, for instance. I started cleaning them here fd12dce8939b926ef24b1b99c3b91c5725743805 in the post processing but after discussing with @jalavik we should probably clean them even before the workflow starts. Suggestions:
1. going kamikaze on the Invenio [blueprint lay

[2014-11-06 12:16] MSusik opened #138 "RFC Authors' profiles look."
Hello!

Lately I've beeen working on moving the authors front-end to pu. I tried to keep the look with the current box order. Unfortunately it seems that that we don't have enough space to do that. Here is a screenshot from 1920x1080 monitor from demosite:

![wronglook](https://cloud.githubusercontent.com/assets/6649290/4935440/c44ed178-65ac-11e4-9f24-2d3f9ec56cce.png)

The boxes that in my opinio

[2014-11-06 13:34] #137 closed, assigned to nobody

[2014-11-07 12:09] #136 closed, assigned to nobody

[2014-11-10 09:26] jmartinm opened #143 "subject field required problem"
Making the subject field required with:

[code]

Creates a problem in the Multiselect field. If nothing in the field is selected, instead of showing the message "Saved with errors" like in the title or authors the page reloads with no message.

[2014-11-10 12:06] jmartinm opened #144 "inspire.cfg: add schema to list fields"
Add the following:

[code]

to the fields that should be lists to simplify handling them in ``inspire.cfg``.

[2014-11-10 12:36] jmartinm opened #145 "get_title exception in Holding Pen"
in ``literature.py``, the function ``get_title()`` expects ``metadata['title']`` to be a dictionary while sometimes it will not be.

[2014-11-12 13:38] jmartinm opened #151 "not show hidden fields on import preview"
![1](https://cloud.githubusercontent.com/assets/580727/5011002/780beee6-6a79-11e4-8fae-cfd9f1f87099.png)

Categories arxiv and preprint created should not be shown. There might be other fields where this happens.

[2014-11-17 16:23] #151 closed, assigned to nobody

[2014-11-18 11:02] jalavik opened #155 "long classifier execution on certain papers"
On some records (like `oai:arXiv.org:1410.4632`) bibclassification taskes a loooooong time. (~30-60 mins).

Why is that? Can we optimize?

[code]

[2014-11-19 15:37] jalavik opened #157 "Error accessing detailed record"
2014-11-19 16:36:16,190 ERROR: Exception on /admin/holdingpen/details/804 [GET] [in /opt/Inspire-2.0.1.dev20141107094016/lib/python2.7/site-packages/flask/app.py:1423]
Traceback (most recent call last):
  File "/opt/Inspire-2.0.1.dev20141107094016/lib/python2.7/site-packages/invenio/ext/legacy/**init**.py", line 124, in **call**
    response = self.app.full_dispatch_request()
  File "/opt/Inspire-

[2014-11-20 10:16] #157 closed, assigned to jalavik

[2014-11-24 01:02] kneczaj opened #162 "deposit: Checkboxes state is not loaded properly"
State of checkboxes is saved properly on save. Loading a draft form loads the state correctly of you debug the server code, although a checkbox is still displayed as disabled in the form no matter what state is loaded from the draft.

[2014-11-26 12:12] #143 closed, assigned to jmartinm

[2014-11-26 12:14] jmartinm opened #165 "deposit: case insensitive import"
HEP-EX/9911023 does not work, hep-ex/9911023 does

[2014-11-26 12:15] jmartinm opened #166 "deposit: add orcid to metadata"
In the end, it would be valuable to get the orcid of the submitter as part of the new record.

Add the ORCID of the user to 541.

[2014-12-05 14:10] jmartinm opened #174 "header not showing email"
When there is no nickname (after ORCID login) the email of the user does not appear in the header.

Accessing the user through the `User` model shows empty value when doing `User.email`.

The `user` table contains the email address though.

[2014-12-08 22:18] jmartinm opened #175 "deposit: error on submit after import and click Cancel"
If one imports and then clicks Cancel, on submission there is the error:

[code]

[2014-12-08 22:20] jmartinm opened #176 "landing page: errors in JS console"
In the landing page the console shows:

[code]

[2014-12-10 16:31] #175 closed, assigned to nobody

[2014-12-10 16:31] #176 closed, assigned to nobody

[2014-12-10 16:32] #174 closed, assigned to nobody

[2014-12-10 16:32] #166 closed, assigned to pedrogaudencio

[2014-12-10 16:33] #165 closed, assigned to pedrogaudencio

[2014-12-11 16:05] jmartinm opened #179 "deposit: selecting the content of Journal title box makes it dissapear"
Due to that field being Typeahead field, selecting the content makes it go away, which is not desirable.

[2015-01-13 11:59] #145 closed

[2015-02-05 09:11] jacquerie opened #199 "Possible UI improvements on small screen resolutions"
* I'm currently testing INSPIRE on my Dell Inspiron 1010, which has a 1024x600 screen resolution. When I am on http://labs.inspirehep.net and I click on the "Send Feedback" link I get this:
![screenshot from 2015-02-05 10 00 45](https://cloud.githubusercontent.com/assets/381280/6057387/26637036-ad1e-11e4-9933-12d34aec622d.png)
and I can't dismiss the feedback window except by reloading the page. S

[2015-02-05 09:17] jalavik commented on #199
There is also the UI/UX question if we should have a sticky header at all. For example, when scrolling down search result, I am not sure if we should keep the header stickied.  @jmartinm

[2015-02-05 09:20] jmartinm commented on #199
Thanks @jacquerie . The Send Feedback problem needs to be fixed indeed. I will create an issue.

And I take note of ``headroom.js``, it looks very nice. I personally like the sticky header but it might be good to experiment with reducing the size of it once you scroll down.

[2015-02-05 09:32] jmartinm commented on #199
To be done:

- [ ] Fix Send Feedback modal to make it responsive so that it fits in all screens.

Feedback modal comes from https://github.com/inspirehep/feedback.js

[2015-02-05 09:33] jmartinm commented on #199
And for future sticky header improvements, this is the task https://app.asana.com/0/8772567966361/26160507904709

[2015-02-05 09:51] jacquerie opened #201 "grunt: remove unused code"
@jalavik told me that this project no longer uses Grunt.js as a task manager. I might as well remove all traces of it: `Gruntfile.js`, `package.json`, and its documentation in `README.rst`.

(CC: @kaplun @jalavik @jmartinm)

[2015-02-05 10:09] jmartinm commented on #201
The ``copy`` part can be removed. And all copy-related packages from ``package.json``.

On the other hand there are some helpers like ``jshint`` and ``jsbeautifier`` that can be useful so I guess we should keep them.

The README is also ok as it only refers to such helper functionalities.

[2015-02-05 13:46] jacquerie commented on #201
Ok. One other thing: the `README` currently suggests to use `sudo` to install a package globally, which is widely considered a bad idea. May I add a solution like [this](https://jesse.sh/sudo-npm-install/#update-11-3-2014)?

[2015-02-05 15:07] jmartinm commented on #201
:+1:  sure, go ahead.

[2015-02-09 08:54] jacquerie commented on #199
I'm investigating three solutions for responsive modals:

* [jschr/bootstrap-modal](https://github.com/jschr/bootstrap-modal/): [demo](http://jschr.github.io/bootstrap-modal/)
* [VodkaBears/Remodal](https://github.com/VodkaBears/Remodal): [demo](http://vodkabears.github.io/remodal/)
* [drublic/css-modal](https://github.com/drublic/css-modal): [demo](http://drublic.github.io/css-modal/)

I'm leanin

[2015-02-09 12:08] jalavik commented on #199
@jacquerie Cool. Without looking deep into the examples one requirement would be that the styling should be kinda like how labs looks now with "custom bootstrap".

Another thing to consider is how modals will be presented in the rest of the site. At least for end-users, not necessarily admins, we would want the "same modals" being shown.

[2015-02-09 12:15] jmartinm commented on #199
@jacquerie do you think we could adapt the feedback.js to use standard Bootstrap modal http://getbootstrap.com/javascript/#modals ?

As we already use Bootstrap in all pages, as @jalavik mentioned, would facilitate later on changing how our modals look like.

See for example https://labs.inspirehep.net/submit/literature/create for an example of the current use of modals.

[2015-02-10 10:23] jacquerie commented on #199
Ok. Here's what the HTML generated from `feedback.js` looks like:

[code]

And here's instead the HTML generated by `bootstrap.js`:

[code]

Their structure is quite similar, but not exactly the same. That HTML is generated by `feedback.js` in a convoluted way here: https://github.com/inspirehep/feedback.js/blob/cc296527d4d1ba816c1f8ff04d31976f65e871b6/examples/js/feedback.js#L118-212, which, by t

[2015-02-10 13:36] jalavik commented on #199
Hmm. I am thinking since we want to fix all the modals on the site and keep it bootstrap, that [bootstrap-modal](http://jschr.github.io/bootstrap-modal/) is the way to go?

[2015-02-10 16:16] jmartinm commented on #199
There is the following note in the repo:

As we already use Bootstrap 3 probably not even worth relaying on another external library? A very simple JS plugin can be written that will create the feedback button in all pages and use the default Bootstrap modal for the user to input their feedback.

[2015-02-11 12:16] jacquerie commented on #199
@jmartinm suggested a different approach: remove `feedback.js` and replace it with a smaller library within INSPIRE. I started working on this, and here's how I'm structuring this feature:

[code]
(some output omitted) where a (*) denotes that I will modify that file. Of course, I will also modify the `bundles.py` in the parent folder.

`js/feedback/feedback.js` will export a constructor `Feedback

[2015-02-11 12:51] jmartinm commented on #199
Thanks for the update @jacquerie

The code should leave in ``inspire/base/static``, the ``vendors`` folder is reserved for 3rd party libraries that we install through ``$ bower install``

I am not sure we will need the css folder, if you use for the button a Bootstrap class like https://github.com/inspirehep/feedback.js/blob/master/examples/js/feedback.js#L158 then the global styling of INSPIRE is

[2015-02-11 13:07] jacquerie commented on #199
Whoops! It appears I didn't explain myself very well.

1. `tree -I vendors` excludes the `vendors` folder from `tree`'s output, so that it more or less looks like what I posted. In fact, the code resides in `inspire/base/static`.

2. `css/feedback/button.css` is used for styling the "Send Feedback" button, the one that stays fixed on the right while scrolling and activates the modal when pressed.

[2015-02-11 13:09] jmartinm commented on #199
Crystal clear now ;) thanks

[2015-02-12 08:37] jacquerie commented on #199
Sorry for adding an empty ticket. I was checking which error is the current implementation printing when given an empty feedback form: the answer is none at all. I'm adding some validation for that, and this (configurable) message: `'Please don\'t leave an empty feedback.'`.

[2015-02-12 09:50] jmartinm commented on #199
Good catch. Once you have a final version you can put here a screenshot with the validation error and we can see what would be the most clear message.

At the moment it might look like it is possible to leave empty feedback with: `Please don't leave an empty feedback..` but we are just asking the user to please, don't do it ;)

[2015-02-12 12:33] jacquerie commented on #199
This screenshot is both to confirm that the bug is gone with PR #207 and also to show the error message. I agree that it might be improved, and I'm open for suggestions.

![2015-02-12-132606_1024x600_scrot](https://cloud.githubusercontent.com/assets/381280/6167421/8f4088ee-b2bb-11e4-98aa-56fe1a91954e.png)

[2015-02-12 14:10] jmartinm commented on #199
I would suggest using the [Bootstrap alert component](http://getbootstrap.com/components/#alerts)

[code]

[2015-02-12 15:06] jacquerie commented on #199
Done, but not pushed:
![2015-02-12-160519_1920x1200_scrot](https://cloud.githubusercontent.com/assets/381280/6169934/12c79e04-b2d1-11e4-8dd2-3f36b5e29585.png)

[2015-02-12 15:13] jmartinm commented on #199
Fine with me.

On Thu, Feb 12, 2015 at 4:06 PM, Jacopo Notarstefano <
notifications@github.com> wrote:

[2015-02-24 07:50] jmartinm commented on #201
@jacquerie can you create a PR with proposed changes? Basically removing the ``copy`` tasks from Grunt and amending documentation.

[2015-02-25 12:52] #201 closed

[2015-02-25 14:10] #199 closed

[2015-03-03 12:57] PXke commented on #138
Hello, just an insight from outside. If you decide to implement badges, it would be cool to have the possibility to disable it.

A bit like phabricator has its phun mode and pro. Not saying that badges is unprofessional but it can be perceived like that.

It would be cool to have a panel like piwik. Where every simple table can be turned into a plot.
It allows to summarize data when sometimes we h

[2015-03-24 13:45] jmartinm commented on #92
Fixed here https://github.com/inspirehep/inspire-next/commit/86c21ae05917d15b3d35bd3aa9d7c97958572d77

[2015-05-13 11:20] jmartinm opened #239 "oauthclient: enable user validation"
Once https://github.com/inveniosoftware/invenio/pull/3122 is integrated, add email verification workflow.

Verification email should be sent after first registration and link to verify email always visible in `Settings` page.

See example:

![screenshot 2015-05-13 13 19 45](https://cloud.githubusercontent.com/assets/580727/7609383/c7b755ce-f972-11e4-85cf-45077701c59f.png)

[2015-05-18 11:46] jalavik opened #240 "main-container css in page.html"
Currently, the `main-container` class is added in `page.html` on every page except `search.index`. This causes some padding to appear before the content of for example the Holding Pen.

Is this legacy already or shall we only use it on the applicable pages?

[code]

The point is that I would not like to use it on the Holding Pen pages.

[2015-05-21 13:02] jmartinm commented on #240
It should get fixed with https://github.com/inspirehep/inspire-next/commit/3e36cce08e37757023344273e031b38c93c7d449

[2015-05-21 13:02] #240 closed

[2015-05-21 15:29] jalavik commented on #240
:+1:

[2015-06-15 11:47] jmartinm commented on #92
This was already fixed.

[2015-06-15 11:49] jmartinm opened #247 "forms: datetimepicker breaks at the end of the screen."
We have the following issue in our forms https://github.com/Eonasdan/bootstrap-datetimepicker/issues/1036#issuecomment-111771381

Checking the demos of datetimepicker, it looks like the correct default behaviour is for the time picker to appear on top of the input when the input is at the bottom of the page.

Might be some problem with our markup.

[2015-06-15 12:10] jmartinm opened #248 "change CFG_SITE_NAME"
Currently:

[code]

Which means that in certain parts like emails sent to the user, the title is `Account registration at HEP`

The reason behind that site name is that Invenio required the `CFG_SITE_NAME` to be the same as the main collection so that an empty search would work.

We need to double check if this is still a problem and solve it so that we can change the name.

[2015-06-15 12:26] jmartinm commented on #248
One comment on this is that currently we don't have any HEP records, so it might not be a problem right now to change it. I am un unsure about side effects though.

[2015-06-15 13:54] kaplun commented on #248
Would be good to move this into Invenio Github, as a feature request: i.e. to be able to set the site name independently from the root collection (I wonder indeed if this requirement still exist, after all the re-engineering of Jiri related to collections)

[2015-06-16 11:55] jmartinm opened #250 "UndefinedError: 'score' is undefined"
The following error is happening sometimes when accessing the Holding Pen table and also when accessing the submission form in ```qa``` branch.

[code]

Seems like template `harvesting_record_additional.html` expects `score` to be in the context but it is not.

[2015-06-17 19:17] jalavik commented on #250
@jmartinm Yeah, my bad. @dset0x also told me about this today. I will provide a fix tomorrow.

[2015-06-18 08:36] jalavik opened #251 "Upgrade issue with collection tag"
We have an issue with the upgrade script `collections_2015_05_28_recjson_tag_value`

I think the reason is simply that the tag is named differently on INSPIRE:

[code]

While the upgrade script checks for `name == "collection identifier"`.

Is it safe to simply rename on INSPIRE to `collection identifier`?

@kaplun @jmartinm

EDIT: I noticed this when running `inveniomanage upgrader check`:

[code

[2015-06-22 13:02] jmartinm commented on #251
That upgrade recipe seems to be related to the Invenio demo site https://github.com/inveniosoftware/invenio-demosite/blob/master/invenio_demosite/base/recordext/fields/atlantis.cfg#L196

On INSPIRE we actually don't have such a thing in ``inspire.cfg``.

To be safe I think we should update all our dbquery (https://github.com/inspirehep/inspire-next/blob/master/inspire/base/mixer/sources/collection

[2015-06-22 13:21] jmartinm commented on #250
@jalavik this is fixed now right? Can this be closed?

[2015-06-22 13:59] jmartinm commented on #248
Solved by https://github.com/inveniosoftware/invenio/commit/f4bf802ef8e11c2a677db0afa2ffba93001da353

[2015-06-22 13:59] #248 closed

[2015-06-22 14:01] jmartinm commented on #239
Done.

It is now part of qa https://github.com/inspirehep/inspire-next/commits/qa and will be part of the next deployment.

[2015-06-22 14:01] #239 closed

[2015-06-22 14:02] jmartinm commented on #144
Closing this since for it is not needed and there will be some new way to define models.

[2015-06-22 14:02] #144 closed

[2015-06-22 14:02] #92 closed

[2015-06-22 15:03] jmartinm commented on #250
Solved.

[2015-06-22 15:03] #250 closed

[2015-06-23 06:42] jmartinm commented on #251
Seems like the assumption was not correct. After changing the dbqueries to the format ```collection:HEP``` and reindexing the ```collection``` index the records cannot be found (so they are not correctly indexed in the collection).

After debugging a bit more to make sure:

[code]

[code]

Changing to:

[code]

[code]

So based on our current data model, seems like it is best to leave the dbquerie

[2015-06-23 06:45] jmartinm commented on #251
For the initial problem, we can ignore the upgrade recipe and just run on labs:

[code]

This is what I did the first time and worked.

[2015-06-25 10:39] jalavik commented on #251
Thanks for the info @jmartinm. This worked on production. Closing issue.

[2015-06-25 10:39] #251 closed

[2015-06-25 11:03] jalavik opened #255 "Bootstrap theme issues"
I noticed some minor display issues in our style guide: https://labs.inspirehep.net/style-guide

- [ ] several panel contextual classes are mostly unreadable due to the white font color
- [ ] `label-success` green color is different than `btn-success` green color.

It would be nice to fix these as it affects the whole site. E.g. I noticed this in the Holding Pen.

[2015-06-26 12:24] jmartinm commented on #255
Added related PR to fix it.

[2015-06-26 12:43] #255 closed

[2015-06-26 14:33] #247 closed

[2015-06-26 14:34] jmartinm commented on #247
Fixed by upgrading datetimepicker https://github.com/inspirehep/invenio/commit/1360b76c0f71dc4cb01062fc5ef8dec307f84b72

[2015-06-26 14:39] jmartinm commented on #162
Closing this one as it is not a problem for us at the moment.

[2015-06-26 14:40] #162 closed

[2015-06-26 14:45] jmartinm commented on #179
This was fixed in the past. Just tested that it work on Labs.

[2015-06-26 14:45] #179 closed

[2015-07-10 19:04] kaplun opened #265 "roadmap: preparing data model"
Dear @fschwenn, @aw-bib, @ksachs, @tsgit (and whoever wants to take part), this ticket wants to aggregate in one place all the steps needed to complete the new INSPIRE data model.

* [x] Preparing HEP schema: https://github.com/inspirehep/inspire-next/blob/master-elasticsearch/inspire/dojson/hep/schemas/hep-0.0.1.json (see against https://twiki.cern.ch/twiki/bin/view/Inspire/DevelopmentRecordMarku

[2015-07-14 07:50] jmartinm opened #266 "dojson improvements"
The following dojson improvements are needed to reach a production status for INSPIRE.

* [x] Create a revert from the dojson to obtain a dictionary with marc keys. A sample dojson rule looks like:

[code]

We then need the opposite that we will write in the same file close to the original:

[code]

* [x] Write test cases that will go through all the fields (100% test coverage), from MARCXML will

[2015-07-14 08:25] jalavik commented on #155
Solved previously by fixing the legacy bibclassify module.

[2015-07-14 08:25] #155 closed

[2015-07-14 09:00] jmartinm opened #267 "output formats porting"
Current INSPIRE formats (used in http://inspirehep.net) live in https://github.com/inspirehep/inspire/tree/master/bibformat/output_formats.

This task keeps track of the porting status:

* [ ] ~~HCA.bfo - Seems to be a hack for the reference correction form - http://inspirehep.net/record/1302452/export/hrf - this form will be reimplemented.~~
* [x] HCV.bfo - @ioannistsanaktsidis
* [x] HLXE.bfo To

[2015-07-14 09:55] jalavik opened #268 "Move to invenio-oaiharvester"
As per https://github.com/inveniosoftware/invenio-oaiharvester/issues/1 we need to move to use the new module and schedule it using Celery beat.

[2015-07-14 10:01] jalavik opened #269 "Port existing journal workflows to Holding Pen"
The existing journal workflows need to be ported to use

- [ ] Unify harvesting workflow into one workflow for all sources by modifying `arxiv_harvest_math` to be generic

Add specific workflows/tasks for each source:
- [ ] World Scientific
- [ ] Elsevier
- [ ] APS
- [ ] IOP
- [ ] PoS

FIXME: expand this issue with more info

[2015-07-14 12:38] ioannistsanaktsidis commented on #266
Missing fields: preprint_info

[2015-07-15 13:52] kaplun opened #273 "support jsonschema handler"
inveniosoftware/invenio-jsonschemas#1 implements `jsonschema-registry`. Would be cool to:
* [x] have our overlay depending on it
* [x] make our JSONSchemas available to the registry and hence downloadable. (see inveniosoftware/invenio-jsonschemas#2)

[2015-07-17 09:41] jacquerie opened #276 "Elasticsearch mapping for HEP records"
Currently the [Elasticsearch mapping](https://github.com/inveniosoftware/invenio/blob/002a46d048c0faeac32383b2a94658a9226ac297/invenio/ext/es.py) is taken from Invenio; we are still missing a mechanism to allow for its override at the overlay level, but (I think) this will eventually be solved upstream.

In any case, here I'll note a few modifications that we are going to need:

- [x] DOIs should

[2015-07-17 11:42] jalavik opened #277 "Implementation of matching module for ingestion workflows"
We need a module or facility (for example, invenio-matcher via search engine extensions) that will provide an API to perform weighted, configurable searches on INSPIRE records to determine if the incoming record is already in INSPIRE or not.

See https://github.com/inveniosoftware/invenio/issues/2886 for more details.

This will probably be heavily dependant on #276 as well.

TODO: List INSPIRE sp

[2015-07-22 19:12] cleggm1 commented on #265
Experiments use case - displaying current and previous spokespeople:

A user supplies information for us to update the current spokesperson for an experiment. The current display shows all spokespeople with no differentiation. The user comments that one of the spokespeople is no longer a spokesperson. While we store the information on who is the current spokesperson and the dates of this status, t

[2015-07-22 19:51] kaplun commented on #265
Hi Melissa, this issue is specificaly to model what we store (and hence curate), not how we display. Could you add it as a new issue?

[2015-07-22 19:55] kaplun commented on #265
For those wishing to help me in the data model, please have a look at:
* [ ] https://github.com/inspirehep/inspire-next/blob/master-elasticsearch/inspire/dojson/conferences/schemas/conferences-0.0.1.json
* [ ] https://github.com/inspirehep/inspire-next/blob/master-elasticsearch/inspire/dojson/experiments/schemas/experiments-0.0.1.json
* [ ] https://github.com/inspirehep/inspire-next/blob/master-el

[2015-07-23 09:12] fschwenn commented on #265
I have a few (first) comments on the HEP model:

Should the enums really be inside the scheme? For ISBNs it might be ok for
the next years but for publishers It's rather some dynamic knowledgebase.
Many of the enums might look as if they are sufficient but panta rhei.

It's a bit dangerous to start from the existing data model. We might end up
with the same problems we have now. We definetly shoul

[2015-07-23 11:06] aw-bib commented on #265
Hi!

I came to this question as well. Usually, I've the gut feeling that an authority link scales better and is easier to maintain. I also understood that changes in the schema are technically a database conversion. (In the discussion of https://github.com/inveniosoftware/dojson/issues/23). However, I understood that dojson is working that way. I'm not sure that I like this part yet.

Publishers w

[2015-07-23 14:21] fschwenn commented on #265
Phys.Rev.D for me is the journal, but for Nuovo Cimento A you have something like "Series 10" and "Series 11" with the same volume numbers within the series.

[2015-07-27 10:50] jmartinm opened #282 "set httponly for remember_me cookie"
For security reasons, the remember_me cookie should have httponly enabled.

This can be done with [REMEMBER_COOKIE_HTTPONLY](https://github.com/maxcountryman/flask-login/blob/master/flask_login.py#L473) = True

To be set in `inspire/config.py`

[2015-07-28 08:43] jalavik opened #283 "Use MathJax CDN"
We should use the MathJax CDN to avoid moving around 40k static files.

Include on page:
[code]

On document load:
[code]

[2015-07-28 13:25] jmartinm opened #286 "workflows: fix classifier tasks"
Due to changes in `classifier` module on the Invenio side, the literature workflow gives error:

[code]

Using `lambda` to access the config might help.

This commit addresses some problems https://github.com/inspirehep/inspire-next/commit/d1533c799f9bea018958bee363ef9f017f334319 but still the error above has to be solved.

[2015-07-28 13:25] jmartinm commented on #286
This affects branch `master-elasticsearch`

[2015-08-11 07:41] jmartinm commented on #267
![agiiicfc](https://cloud.githubusercontent.com/assets/580727/9192444/7698c8b4-400b-11e5-82a1-061e65095be9.png)

For reference, this is the usage of the different formats for the month of November 2014.

[2015-08-12 15:34] jmartinm opened #295 "dojson: wrong DOI mapping"
In the DOI rule https://github.com/inspirehep/inspire-next/blob/master/inspire/dojson/hep/fields/bd01x09x.py#L55 we are adding as a `doi` key any value that comes in the field `024`.

[code]

Problem is that 024 field is reused for other identifiers that are not DOIs.

To solve this we should only add in the `doi` key values that contain `$$2DOI`

[code]

Then we will have to add in their appropri

[2015-08-13 15:16] kaplun commented on #283
Isnt't this part of Invenio out of the box?

[2015-08-13 15:40] kaplun opened #296 "Tuning of elasticsearch"
Elasticsearch configuration should reflect the INSPIRE data model, whatever that means. We should ensure this is compatible with the invenio-query-parser.

[2015-08-13 15:42] kaplun opened #297 "Formatting of records"
Records should have a nice brief and detailed representation, compatible with the new INSPIRE data model.

[2015-08-13 15:45] kaplun opened #298 "Cloning of reference/citation"
We should keep synchronized the citation tables between old production and labs in order to be able to search based on citation/reference.

That means, when sending records to elasticsearch for indexing we should be smart and enhance them using the citation table

[2015-08-13 15:48] jalavik commented on #283
MathJax? I guess it is, but we can override the static files to not include it in the bundles.

[2015-08-17 12:58] kaplun opened #300 "Deploying a beard server"
A new server (similar to elasticsearch deployment) needs to be deployed to serve the beard REST interface (see: https://github.com/inspirehep/beard-server)

[2015-08-17 12:59] kaplun commented on #300
@jalavik as soon as we can we should start playing with this part of the beast :smile:

[2015-08-17 13:23] kaplun opened #301 "INSPIRE beard client"
Toghether with the beard server (#300) we shall develop the client part that would:
* [x] collect all modified records WRT their signatures (if Invenio allows that), and the claims/unclaims that have happened since last time.
* [x] retrieve all the affected blocks (given a signature in a paper it will belong to a very defined and stable block, e.g. based on a transformation of a surname, see: http

[2015-08-17 13:24] kaplun commented on #301
@MSusik, @glouppe please feel free to amend this task as you deem appropriate

[2015-08-17 13:30] kaplun opened #302 "Author claim interface"
A new interface should be implemented in order to manage ones publications (i.e. claim/reject signatures on them).

[2015-08-17 13:31] kaplun commented on #302
@eamonnmag you once provided some mock ups for this. We should turn this into reality :smile:. @glouppe we should sinchronize your work with this one in order to ask the user data that are actually then useful to all the ML businness (e.g. rejecting signatures?)

[2015-08-17 13:40] jalavik commented on #300
@kaplun So we need one single node to serve beard requests? How powerful?

[2015-08-17 13:44] kaplun commented on #300
Yep beard is not going to profit (yet?) from a multinode architecture, as far as I understand (@MSusik, @glouppe?).

In fact we already have all that is needed (the inspire-heavy nodes), 32GB of ram. We need just to puppetize them accordingly.

[2015-08-17 13:45] glouppe commented on #300
Yes, no need to add complexity with multiple machines. Just provision a single machine with plenty of RAM and cores.

[2015-08-17 13:52] jalavik commented on #300
`inspire-heavy` is a hep2.8 flavour with RAM 15GB, 8 VCPU. What about the inspire-ml-* nodes, are they appropriate candidates for this?

[2015-08-17 13:58] kaplun commented on #300
Yep I was referring to them :-) (sorry for misunderstanding...) They are leaving in the INSPIRE Heavy openstack space.

[2015-08-17 13:59] glouppe commented on #300
Yes, the `inspire-ml-*` are good enough for disambiguating everything without too many problems.

[2015-08-20 09:47] jmartinm commented on #286
Moved to https://github.com/inveniosoftware/invenio-classifier/issues/4

[2015-08-20 09:47] #286 closed

[2015-08-21 11:21] jmartinm commented on #276
Just fyi, I developed a WIP PR that will allow this sort of configuration, still pending review and merge:

https://github.com/inveniosoftware/invenio-search/pull/2

[2015-08-21 11:28] jmartinm opened #308 "Port author addition/update forms"
Connected to https://github.com/inspirehep/inspire-next/issues/266. Once we get the author model converted to `dojson` we need to port the author forms to use it.

Mainly the change has to happen in the [conversion from the form fields to the expected author model](https://github.com/inspirehep/inspire-next/blob/master/inspire/modules/authors/tasks.py#L64) (so that the right MarcXML is produced on

[2015-08-21 11:50] kaplun commented on #308
Shoudln't this go into enabling authors milestone?

[2015-08-21 13:40] jmartinm commented on #308
Nope, this is just to replicate the functionality we have at the moment in labs.inspirehep.net with the author update/addition form.

We are not able to deploy the elasticsearch branch if this is not working.

[2015-08-21 15:26] jalavik opened #310 "RC: Mapping problems for collection queries"
In the RC branches (`master-rc`) and (`labs-rc`) there are some issues with the current mapping of collections - as discovered when the percolator queries are running upon `inveniomanage database create`.

E.g.
[code]

[code]

[2015-08-24 08:22] kaplun opened #311 "WIP JSON-based relations within INSPIRE"
While completing the data-model at #265, it is time to formalize relations across records. As far as I understand how Invenio is evolving (@tiborsimko, @jirikuncar, please correct me if I am wrong), records link are going to be implemented in the following way.

* Schemas are going to be available under the prefix `http://inspirehep.net/jsonschemas/`, e.g. `http://inspirehep.net/jsonschemas/hep-0.

[2015-08-24 14:28] kaplun opened #315 "authors: DeprecationWarning"
[code]

[2015-08-26 13:19] kaplun opened #322 "This is a test"
Let's see if this ends up in github

[2015-08-26 13:23] kaplun opened #323 "This is a test"
Let's see if this ends up in github

[2015-08-26 14:24] #322 closed

[2015-08-27 07:28] #323 closed

[2015-08-27 08:55] jmartinm commented on #298
Is there a preference on going for this idea or on porting existing refextract/bibrank and running it locally on Labs ?

[2015-08-27 08:58] jmartinm commented on #297
Brief records
=========

* [ ] HEP @nikpap
* [ ] Authors
* [ ] Institutions
* [ ] Conferences
* [ ] Jobs
* [ ] Experiments
* [ ] Journals

Detailed records
=========

* [ ] HEP @nikpap
* [ ] Authors
* [ ] Institutions
* [ ] Conferences
* [ ] Jobs
* [ ] Experiments
* [ ] Journals

[2015-08-27 09:09] jmartinm commented on #267
Brief and detailed records are here https://github.com/inspirehep/inspire-next/issues/297

[2015-08-27 13:58] kaplun commented on #298
Refextract maybe. BibRank on labs nope, that is not feasible, I think. I was talking today with @nharraud and we found several ways in which to have elasticsearch digest citations and let us build again the citedby/refersto functionality.

[2015-08-27 15:22] kaplun commented on #267
I assume detailed is under represented?

[2015-08-27 16:31] jmartinm commented on #315
Fixed https://github.com/inspirehep/inspire-next/commit/889436bc1b222512fa4559498ff3897941bdf61e

[2015-08-27 16:31] #315 closed

[2015-08-27 16:31] jmartinm commented on #308
Done https://github.com/inspirehep/inspire-next/commit/889436bc1b222512fa4559498ff3897941bdf61e

[2015-08-27 16:31] #308 closed

[2015-08-27 16:49] jmartinm commented on #267
You mean that the number in the graph does not reflect reality for detailed?

One thing that would make the `brief` format so 'popular' is that every single search has 25 brief formats so obviously the number is meant to be very high

[2015-08-27 19:56] kaplun commented on #267
Right, but I guess it was computed by grepping through of=HD in search results? I mean this number does not reflect when someone simply accessed /record/123, does it?

[2015-08-27 20:11] kaplun opened #326 "Set up HTTPS"
At the moment, when the user has to recover password or login, this is being done in plain text HTTP. This needs to be changed to be done with HTTPS.

[2015-08-27 20:40] jmartinm commented on #326
Is this for inspire labs? To me it works always with https.

If we are going to start using github more actively, to have it under control we should be quite elaborate in title, body and start using labels?

[2015-08-27 20:42] jmartinm commented on #267
Yes, to be honest, I am not sure how brief and detailed were counted. We should ask @espacial for details

[2015-08-27 20:46] kaplun commented on #326
Eih eih are you trying to bossing me? :-P
This is *clearly* an automatic ticket opened by my Zap from the Asana one. I think it corresponds to the message related to the help ticket...

Better if I stop this synchronization since it seems to copy comments out of context (even when the corresponding issue is closed on Asana)

[2015-08-27 20:46] #326 closed

[2015-08-27 20:46] kaplun commented on #326
P.s.: https://app.asana.com/0/8772567966361/46688393970763

[2015-08-27 20:48] jmartinm commented on #326
ah hehe, did not think about the Zap sync :P

Would be nice if it said somewhere in the description or comment (Synchronized from Asana or something like that)

[2015-08-28 14:48] espacial commented on #267
As @kaplun says, it is counted using of=HD.

It is neither counting if people is accessing the detailed record, nor recounting 25 times the same search. As a small deviation, It would count two times the same query if you moved to the second page of the search results, though.

Conclusion: Yes, the detailed format is rarely used.

[2015-08-28 14:53] kaplun commented on #267
Thanks for confirmation.

... when displaying search results, but we don't know yet how this compare to when users directly access /record/123 which uses as well the detailed format. But, anyway, for this very context it doesn't really matter, with your explanation we know that (beside HD) the rest of the priorities seems quite reasonable.

[2015-08-31 12:33] jmartinm opened #327 "prodsync working"
Depends on dojson models from https://github.com/inspirehep/inspire-next/issues/266

Production sync has to be working for records in all collections. This means reviewing that harvesting is still possible and making sure the dojson model is in place in order to get the appropriate JSON from the production MarcXML.

[2015-08-31 12:53] jmartinm commented on #297
Until we reach the following milestone https://github.com/inspirehep/inspire-next/milestones/Enabling%20authors I assume there is no need for the formatting of profiles and author search results locally in INSPIRE Labs?

Instead all author names in HEP papers will have a link like `https://inspirehep.net/author/profile/Suman%2C%20V.?recid=1390187&ln=en` that will resolve in production to the corre

[2015-08-31 13:21] kaplun commented on #297
What's `prodsync`?

[2015-08-31 13:25] kaplun commented on #297
:+1:

[2015-08-31 13:55] jmartinm opened #328 "Design improvements for HEP brief search results"
The following changes need to be done for HEP record search results:

* [ ] Add number and checkbox in front of every result ?
* [x] When pressing Cite
    * [x] Change wording - Export Article -> Cite Article
    * [x] Add a bit more space after `Cite Article` title
    * [x] Make Download work
* [x] Make MathJax work in search results through CDN - see https://github.com/inspirehep/inspire-next/

[2015-09-02 08:57] jmartinm commented on #283
So far I have removed it from our dependencies so we don't load it anymore a38db73e79d24c0f4fd029e5299c6aa1469c03e5

Now it just needs to be added in the appropriate templates to load from CDN.

[2015-09-02 14:58] kaplun commented on #297
@jmartinm I have added Data and Software to the list of formats, because they definitively require love:
https://inspirehep.net/record/1391413
https://inspirehep.net/record/1390902

[2015-09-02 15:06] jmartinm commented on #297
https://inspirehep.net/record/1391413
https://inspirehep.net/record/1390902

We have software :open_mouth: !

For the data one, probably we are able to reuse some parts from the HepData one.

[2015-09-03 16:00] jmartinm opened #341 "dojson: jobs demo records problem"
Loading the demo records, the following error happens:

[code]

[2015-09-04 07:52] jmartinm commented on #341
@jalavik

[2015-09-04 08:17] jmartinm opened #342 "Make references work in detailed views"
Overview
=======

The reference code used currently in inspirehep.net is https://github.com/inspirehep/inspire/blob/master/bibformat/format_elements/bfe_references.py#L79 which produces https://inspirehep.net/record/1236510/references

Implementation in Labs
=======

* Can be done as a filter `record|references` (see [the bibtex example](https://github.com/inspirehep/inspire-next/commit/cfcb483c4d

[2015-09-04 08:47] jalavik commented on #341
Fixed in 72e684c

[2015-09-04 08:47] #341 closed

[2015-09-04 08:49] jmartinm opened #343 "search in non HEP collections gives error"
At the moment, making a search like:

`http://localhost:5000/search?cc=Conferences`

Gives the following error:

https://gist.github.com/8eb9c3c0927bd59ae658

[2015-09-04 11:43] jmartinm commented on #296
Also, we should port the `indexes` we used to have in production, like
![screen shot 2015-09-04 at 1 41 11 pm](https://cloud.githubusercontent.com/assets/580727/9682843/b6d7bd56-530a-11e5-9bf0-d975d8c926fc.png)

So that they aggregate the right fields to make them searchable. We can use [ES ``copy_to``](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-core-types.html#copy-to

[2015-09-08 08:48] jmartinm commented on #343
Fixed after adding brief formats for all collections.

[2015-09-08 08:48] #343 closed

[2015-09-17 12:42] kaplun opened #359 "python setup.py test is testing too much"
Currently `python setup.py test` is looking for tests *everywhere*, thus trying to execute every single file. Instead it should look only into inspire/testsuite.

BTW shall we move the testsuite under the more standard /tests folder?

[2015-09-17 20:22] tsgit commented on #267
I think it make sense from inspire's default behavior that HD is most frequently accessed from clicks on links in search results, i.e. via /record/<recid> links in the brief result display and rarely via ?of=HD

also if these stats are solely based on ?of=<x> then links from detailed format like
http://inspirehep.net/record/811388/export/hx
are not counted, thus all formats offered there via ..../

[2015-09-18 14:46] kaplun opened #364 "test_workflows is slow"
:smile: @jalavik is there anything we can do? Is currently the bottleneck on Travis...

[2015-09-20 22:05] jalavik commented on #359
There is a PEP8 check as part of the pytest config that is checking every file, so that should be fine. It's true that if tests are found elsewhere in the code (e.g. like the ones under author), then it executes them. Overall I am not sure it's gonna be a problem. I guess we could move them under /tests as proposed anyway.

[2015-09-21 07:10] kaplun commented on #359
Ah I see. Then it does make perfect sense. Thanks for the explanation. (I'll close the ticket, as it's not really necessary the move to /tests)

[2015-09-21 07:10] #359 closed

[2015-09-21 08:52] jalavik commented on #364
It's true that it is a bit slow right now. I guess In particular it's the part doing a full ingestion workflow. These tests are even expected to fail at the moment on Travis due to some funky SQLAlchemy session exception. So overall, they need some extra work indeed.

[2015-09-25 09:06] glouppe commented on #301
Just a comment regarding the design this is taking. Beard has been developed as a _library_ providing all the tools needed to implement author disambiguation. In particular, the `examples` folder is only meant to  illustrate how put all these pieces together to solve disambiguation.  They are not meant to be used as an application themselves.

In other words, I would rather see a single `inspire-d

[2015-09-25 09:18] kaplun commented on #301
Sure `invenio-beard` could be part of the Overlay, but what would be the benefit?
The fact that we package all these tasks in the form of an Invenio module doesn't imply that is generic. On the other hand it will allow us to lower the barrier for making it generic in the future.

Beside `beard-server` should really leave as a separate module, since it is a wrapper of beard library that would live

[2015-09-25 09:26] kaplun commented on #301
Note `beardy_json` should become `invenio-beard`. Note also that we no longer need to factor out utils from `beard` as anyway @jalavik  is looking into installing the whole numpy machinery via docker, as HepData is doing, so Travis won't be a problem.

[2015-09-25 12:06] jalavik commented on #301
I can get behind the idea that `invenio-disambiguation` is perhaps a better name than `invenio-beard` as to not couple package name with implementation but rather the goal. In that same breath, we could say that `invenio-grobid` should be called `invenio-pdfextractor` as well.

I am fine with keeping the beard library, beard-server and Invenio glue separate, although I know little of what is behin

[2015-09-30 08:42] jmartinm commented on #327
This was completed with a new workflow for harvesting. @jalavik can you add a pointer to the code that deals with this and we see if we can mark it as complete?

[2015-09-30 08:51] jalavik commented on #327
Sure. The workflow is here https://github.com/inspirehep/inspire-next/blob/master/inspire/modules/workflows/workflows/oaiharvest_production_sync.py

And it is used by `inveniomanage oaiharvester` (either as periodical or one-shot command) to feed records from the OAI-PMH source to this workflow.

[2015-09-30 08:51] #327 closed

[2015-09-30 08:52] jmartinm commented on #342
To clarify and simplify this issue. On the formatting side no more searches need to be done. The record JSON will either contain a `recid` where we can do `get_record` or the data available needs to be shown in a similar fashion to current production.

There will be a separate task in charge of adding such `ids` to records.

[2015-09-30 09:20] ioannistsanaktsidis opened #381 "Missing stuff in brief results"
- [x] journals: Missing doc_string from url and Publisher.
- [x] jobs: Creation date missing.
- [x] experiments: Missing HEP articles and collaboration link.
- [x] institutions: Missing affiliation line (e.g 860 Papers from KIPAC, Menlo Park)
- [x] conferences: Contributions link missing.
- [ ] authors: Author profile link missing.

[2015-09-30 12:52] jmartinm opened #384 "Detailed view for HEP records"
Current design proposal based on latest mockup testing:

[Literature detailed view](https://github.com/inspirehep/inspire-next/files/5124/Papers.pdf)

This needs to be:

* [ ] Implemented. @nikpap
* [ ] Another round of user testing will be performed to get more accurate feedback. @nikpap

[2015-09-30 13:11] jmartinm opened #385 "Create landing pages for each collection (Literature, Authors, ...)"
We need the following urls to lead to the appropriate landing page:

* /literature
* /authors
* /institutions
* /conferences
* /jobs
* /experiments
* /journals
* /data

Invenio by default when accessing the URL `/collection/<name>` will look for the template `search/collection_<name>.html` so that's how we will create each of the landing pages.

As a second step we can create in `inspire/base/view

[2015-09-30 14:12] jmartinm opened #386 "Enable exporting capability"
In the search results page for Literature, we should enable the functionality of exporting any number of records in the formats supported by INSPIRE.

* [ ] Each search result should be selectable
* [ ] Selection across pages should be possible (up to a certain limit that could strain too much the system)
* [ ] An Export Button with a dropdown for the different formats should be available.
* [ ] C

[2015-09-30 14:13] jmartinm commented on #342
This can be closed as it has been clarified IRL.

[2015-09-30 14:13] #342 closed

[2015-09-30 14:13] jmartinm commented on #384
For the references section, this closed issue can have some useful informatiokn.

[2015-10-01 12:39] jmartinm opened #390 "Make search results more compact"
Each search result currently takes too much space:

![screen shot 2015-10-01 at 2 31 29 pm](https://cloud.githubusercontent.com/assets/580727/10220712/c60f9c0e-6849-11e5-8c6d-ea630ee0900f.png)

We should:

* Keep the authors to one line.
* Keep the abstract to max 2 lines.
* We need to see if long titles are a problem too.

[2015-10-01 13:15] jmartinm opened #391 "Explore most suitable font for titles and content"
In the first iteration of the labs search results we are using as a font:

[code]

![screen shot 2015-10-01 at 3 07 58 pm](https://cloud.githubusercontent.com/assets/580727/10221377/4d68fffc-684e-11e5-8c0e-0d107cf85e03.png)

We need a comparison with other fonts and sites to make sure we go for the most crisp and readable font in different monitors.

For example:

| Site        | h1, h2, ... font

[2015-10-01 13:17] eamonnmag commented on #391
+1 this is always tough. Google have some nice ones. The cleanest one I think is the one used by the elife lens. http://lens.elifesciences.org/10825/index.html?_ga=1.68657046.68384527.1443017183

[2015-10-01 13:24] jmartinm commented on #391
Yes, that one is clean. It is http://www.fontsquirrel.com/fonts/source-sans-pro

I also like the one that APS uses for their titles in search results although it seems to be paying http://www.fontspring.com/fonts/mark-simonson-studio/proxima-nova-complete

[2015-10-08 09:32] jmartinm commented on #295
ping @ioannistsanaktsidis can you have a look?

[2015-10-08 09:33] jmartinm opened #403 "Fix formats according to data model changes"
After https://github.com/inspirehep/inspire-next/pull/400 gets merged all formats `bibtex`, `CV` and friends need to be amended to fit the new model.

[2015-10-08 09:34] ioannistsanaktsidis commented on #295
Yes of course, I will take care tomorrow morning ;-)
Στις 8 Οκτ 2015 11:32 π.μ., ο χρήστης "Javier Martin Montull" <
notifications@github.com> έγραψε:

[2015-10-08 09:51] jalavik commented on #403
While updating the schema, I have tried to change all usages everywhere (including bibtex, latex formats, submissions, workflows etc.). However, I might have missed some parts, so this should still be verified.

[2015-10-08 16:29] jalavik opened #405 "arXiv harvesting is fully moved to Labs"
- [x] Enable selection of records from arXiv `math` and `astro-ph` on Labs using Holding Pen
- [ ] Add automatic rejection based on prediction score and number of CORE keywords detected
- [ ] Reorganize arXiv harvesting workflow to improved structure
- [ ] Enable harvesting of all non-core arXiv categories on Labs
- [ ] Turn off legacy arXiv harvesting and enable harvesting of all arXiv categories

[2015-10-08 16:35] jalavik opened #406 "Add initial merging procedure of matched records in ingestion workflow"
- [ ] Add interface to enable super-users to approve/reject/fix when suggesting matches with uncertainty
- [ ] As a potential temporary measure, upload accepted matches to DESY merging workflow
- [ ] Based on given rules, upload a new revision for the current source to be merged with "master" record. (See more upcoming info about "mega merging workflow")

[2015-10-08 16:37] jalavik opened #407 "IN2P3 papers are pushed to HAL via SWORD protocol"
- [ ] ~~Setup special HAL collection mechanics on legacy prod~~
- [ ] Push IN2P3 papers to legacy prod special collection
- [ ] Add detection of potential papers in Labs ingestion workflow
- [x] Add conversion to TEI including author+affiliation IDs (@liamkirsh)
- [x] Add SWORD push to HAL (@liamkirsh)

[2015-10-08 16:40] jalavik opened #408 "Finalize prod to labs synchronization"
- [x] Regenerate Demosite with all links (see #357)
- [x] Generate full dump of INSPIRE using enhanced MARCXML
- [x] Investigate whether we can have publish/subscribe via Redis between Prod and Labs
- [x] Alternatively implement POST handler on Labs to receive enhanced MARCXML
- [x] New bibtasklet to continously push either via POST request or via Redis pub/sub modified records (e.g. due to a new

[2015-10-09 13:06] jmartinm commented on #391
Here is some comparison of fonts:

https://www.dropbox.com/sh/5cfvst4ou9g50ts/AACWj3FZo2UtasPCkkR8Yvora?dl=0

[2015-10-09 13:24] eamonnmag commented on #391
Nice! I think i like either source or robot the best. Maybe some weights can change.

[2015-10-09 15:19] jmartinm commented on #386
This exporting capability is an evolution of the current functionality on INSPIRE that allows users to select  output format on the search.

The Nielsen Norman Group, on their usability study of INSPIRE gave the following recommendation:

* Output format could be its own selection list with its own button.
* The system should remember the user’s chosen format and default to
that choice.
* The word

[2015-10-12 10:10] salmele commented on #407
First three parts (set-up collection, detect in ingestion, organize in collection) needed by start 2016, and IN2P3 will cooperate to prepare search queries to automatize this process (on metadata and full-text)

Last two parts might be needed only much later (possibly end 2016, TBC)

[2015-10-12 12:49] jmartinm opened #411 "Faceting of records in Literature"
Facets (now called aggregations in ElasticSearch) need to be implemented and the following facets need to be present in the Literature collection:

*  [x] Subject (field 65017 with subfield 2 == INSPIRE)
* [x] Document type (subset of 980__a): It also needs to be made more human readable, e.g `Conference Paper` instead of `ConferencePaper`
* [x] Author
* [x] Year
* [x] Experiment (field 693__e)

A

[2015-10-12 13:31] jalavik opened #412 "Data model: special field for `ForCDS`, `ForHAL` etc."
For the HAL use case, we could have both a collection identifier (HAL) ala HEP today, but in addition we would need some way to indicate status. E.g. done/exported etc.

Also, something like the ForCDS tag of today that marks a record for export to another system.

To cover the use cases of HAL catalogers removing certain wrongly tagged records or saying its done and ready for HEP or HAL etc.

@ka

[2015-10-13 14:52] kaplun opened #414 "dojson: bug in hepnames/fields/bd1xx.py"
From https://travis-ci.org/inspirehep/inspire-next/builds/85131955#L129:
[code]

@jalavik @jmartinm @ioannistsanaktsidis

[2015-10-13 15:24] kaplun commented on #414
BTW I just checked and this is the last bug that need to be solved before being able to load all the 8000 demo records in #357

[2015-10-13 15:25] ioannistsanaktsidis commented on #414
I can take care of it tomorrow first thing in the morning. I think I know
the problem! ;)

2015-10-13 17:24 GMT+02:00 Samuele Kaplun <notifications@github.com>:

[2015-10-13 15:26] kaplun commented on #414
:kissing_heart:

[2015-10-14 12:29] kaplun commented on #414
Closed in b28d81ea614fe1b5ae36ebc3c36bd66b89aef1e3

[2015-10-14 12:29] #414 closed

[2015-10-14 22:33] kaplun commented on #411
How these facets have been chosen?

[2015-10-16 09:25] jmartinm opened #423 "operations: compile translation catalog in the overlay"
When we deploy code, the translations need to be compiled on the overlay as we have some custom translations that need to be applied.

[code]

The example is `Deposit->Submit`. If we compile the catalog, Submit will appear in all cases instead of Deposit (tested locally)

![screen shot 2015-10-16 at 11 23 36 am](https://cloud.githubusercontent.com/assets/580727/10538387/663ecd9e-73f8-11e5-9953-643

[2015-10-16 10:00] jmartinm commented on #423
Fixed it in `qa` branch of our `operations` repo

[2015-10-16 10:00] #423 closed

[2015-10-16 15:18] kaplun opened #426 "Upgrade inspire-next to use CDS's pinned invenio-* versions"
To properly write regression tests involving creation/deletion of records one would need https://github.com/inveniosoftware/invenio-records/commit/02cfd62390c349b94abdae31493b15feec3916a2

But this brings in a chain reaction. Hopefully most of it has been already solved by @egabancho in: https://github.com/CERNDocumentServer/cds/blob/cdslabs/base-pinned.requirements.txt

So we just need to merge t

[2015-10-16 15:21] kaplun commented on #426
@jalavik what do you think?

[2015-10-16 15:31] jalavik commented on #426
@kaplun That could work, but we'll need to sort out our own forks, see if we need to use the CDS forks or not, and test the whole thing without updating the `master` branches of any of our forks.

If it gets painful and regression tests is the only real benefit we get by upgrading, I would not consider this a blocker for enabling search, as we could wait until things have stabilised even more. And

[2015-10-16 16:34] #283 closed

[2015-10-20 12:29] kaplun opened #430 "Data model: full support for references"
- [x]  references should be lists of lists (because there might be errata/ibid on the same reference)
- [x] What was once a pubnote in $s should be splitted up into journal title, volume, issue, start page

[2015-10-20 12:30] kaplun commented on #430
cc: @jalavik, @annetteholtkamp

[2015-10-20 12:39] annetteholtkamp commented on #430
We would also need an object for “reportnr, page” in case a report contains several contributions - see e.g. CERN Yellow Reports.
And also “conf acronym, page/article id” e.g. for JACoW conferences.

- Annette

On 20 Oct 2015, at 14:30, Samuele Kaplun <notifications@github.com> wrote:

[2015-10-20 12:53] kaplun commented on #430
Well, if we split up $s into its components then we would naturally have separate page and reportnumber supporting your above Yellow report use case. Regarding Conf acronym, do we have some today in 999C5?

[2015-10-20 13:08] annetteholtkamp commented on #430
Not yet, but we’ve already some in 773. As soon as we’re exposing that in our bibliographic data we should be able to recognise the corresponding references as well.

- Annette

On 20 Oct 2015, at 14:53, Samuele Kaplun <notifications@github.com> wrote:

[2015-10-20 14:23] aw-bib commented on #430
Just to ask:
- a reference is (usually) pointing to an existing record
- basically, thus it has the very same structure as a record
- it even probably needs this complex structure to model all different pub types etc.

Thus, isn't _the link_(tm) enough probably drawing in some display and get expansions for indexing?

Ie for me references sound a bit like "just the same as the gigantic workflow, e

[2015-10-20 19:27] kaplun commented on #430
@aw-bib we have to store the whole reference (possibly already structured) because it we don't know if:
* this match any record at the time the record is ingested
* it will possibly match a future record still to arrive
* it is currently matching a record but this is a mistake and the reference structure is used to check this.

So the link is not enough.

But indeed it is a good point that the ref

[2015-10-21 05:05] aw-bib commented on #430
I see your point, but wouldn't in this case storage of the raw string be enough?

If not, why not use the data extracted and  create a (stub) record and use this for  linking. Then you are sure you can map every needs. If the real record comes in later, just brush up the stub by usual merging. I think this simplifies the overall data structure.

So the question is it worth the efford to add a nest

[2015-10-21 08:46] jmartinm opened #433 "Enable Selenium Grid - Travis integration"
Would be great to integrate Github and Selenium Grid. After Travis runs, [Selenium](https://github.com/SeleniumHQ/selenium/wiki/Grid2) would run.

There is a docker image available for Selenium (https://github.com/SeleniumHQ/docker-selenium) so we could host it ourselves ( like the converter for HepData @eamonnmag ).

Then we would need a hook on Github to call our Selenium Grid.

[2015-10-21 08:47] jmartinm commented on #433
@eamonnmag we can create a common Selenium Grid service and use it for INSPIRE, HepData and so on.

[2015-10-21 08:51] eamonnmag commented on #433
@jstypka started on Selenium grid for HEPdata but had a lot of troubles. Jan, could you give an update to Javier about it?

[2015-10-21 09:21] jmartinm opened #434 "Page range/ Article ID - data model consistency"
I have found some inconsistencies between our dojson import and the HEP Schema that should be addressed:

* [x] `page_artid` is in dojson but not on schema. It is called `page_range` [in the schema](https://github.com/inspirehep/inspire-next/blob/master/inspire/dojson/hep/schemas/hep-0.0.1.json#L383) which I am not sure covers the full meaning of the field.
* [x] cnum in dojson is conference_paper

[2015-10-21 09:24] jstypka commented on #433
We've used [SauceLabs](https://saucelabs.com/) for this. It looked pretty cool at the beginning, but I had big problems with getting it to work and Selenium package itself.

For example tests failed for weird reasons like not finding a button on a page which has not loaded yet. The other issue was that on some configurations, they support only certain screen resolutions which were quite low (`1024

[2015-10-21 09:26] jmartinm commented on #433
Were you using a free version of SauceLabs or paying for it? If there is a free version, is it enough?

[2015-10-21 09:28] jstypka commented on #433
It's free for [OpenSource](https://saucelabs.com/opensauce/) projects and it's totally enough

[2015-10-21 09:32] jmartinm commented on #433
Ah very nice! So if you can dig the code you used for the integration let me know and we do another try to see if we can make it work.

[2015-10-21 09:38] annetteholtkamp commented on #434
It still hasn't been decided whether we want to split article nr and page range. Would be useful in case we have both - e.g. for JACoW conferences.

- Annette

On Oct 21, 2015, at 11:21 AM, Javier Martin Montull <notifications@github.com<mailto:notifications@github.com>> wrote:

I have found some inconsistencies between our dojson import and the HEP Schema that should be addressed:

  *    page_ar

[2015-10-21 13:22] jalavik commented on #434
Regarding, `page_range` I fixed it as part of #422 https://github.com/inspirehep/inspire-next/pull/422/files#diff-3db794b5dfd367ebcb5f09729f2490f5

But yeah, I guess it make sense to split it rather?

[2015-10-21 13:30] kaplun commented on #434
Should indeed be an array. (e.g. paper from ATLAS and CMS).

[2015-10-21 14:32] jmartinm opened #435 "requirejs: overlay only configuration"
Seeing [this](https://github.com/CERNDocumentServer/cds/commit/bdc70acf8f67556733f74279aa6c16906eb27614#commitcomment-13896857), it might be possible to remove the duplicate `settings.js` from Invenio and just leave the overlay customization.

That would solve the problem of forgetting to update that file when Invenio gets updated.

It needs to be tested.

[2015-10-21 16:08] kaplun commented on #433
:+1: In the past we used selenium (with Invenio legacy) and bumped into similar troubles you mention, but sensible workarounds had been found.

https://github.com/inveniosoftware/invenio/commit/6ff405046369ba34a3e3fa24caf46b92de10a051

[2015-10-22 12:47] jalavik commented on #403
So @ioannistsanaktsidis is updating these formats now for BibTeX output and something came up when running it over the demo records.

Since across our collection we may have a different data model, e.g. HEP vs Experiments, we would have to amend the BibTeX/LateX formats to export differently per collection. E.g. titles.title vs. title.

Does it make sense to even offer BibTeX/LaTeX export for non-

[2015-10-22 13:13] kaplun commented on #403
Actually Authors nope. IMHO only records in HEP (i.e. of document type) should have a BibTeX/LaTeX export. In the future also records in the Data collection might have such export, though.

[2015-10-23 11:35] jmartinm opened #438 "submission: thesis field reordering"
The order of the fields should be:

Degree type
Thesis Date (we leave only one date)
Institution
Supervisors

Would be good to mark in the interface Degree type and Thesis date as important to remind the user to fill them in.

Also make PhD default degree type.

[2015-10-23 11:48] jmartinm commented on #411
Depends on https://github.com/inspirehep/inspire-next/issues/426

So far from the recommendation of @inspire-data

Once we make this work we will ask some users for their opinion.

[2015-10-26 13:51] ioannistsanaktsidis commented on #434
@jmartinm @kaplun the collaboration problem I think is fixed. I have just checked and it is array in both now.

[2015-10-26 14:14] ioannistsanaktsidis commented on #295
@jmartinm  this one is fixed, so I guess we can close it. ;)

[2015-10-26 14:20] ioannistsanaktsidis commented on #266
Here we have quite good coverage. Just saw it in the tests:
[code]

[2015-10-27 10:21] jmartinm commented on #426
Done :smiley:

[2015-10-27 10:21] #426 closed

[2015-10-27 13:03] jmartinm commented on #435
It does not work out of the box with `symlink` collect so not worth for the moment.

[2015-10-27 13:03] #435 closed

[2015-10-27 13:05] jmartinm opened #447 "wrong display of affiliations"
Affiliations are not shown properly

![affiliations](https://cloud.githubusercontent.com/assets/580727/10758754/b3262850-7cb3-11e5-977b-dd64946091ea.png)

[2015-10-27 13:49] jmartinm commented on #447
Fixed.

[2015-10-27 13:49] #447 closed

[2015-10-27 13:50] jmartinm commented on #310
This problem does not exist anymore.

[2015-10-27 13:50] #310 closed

[2015-10-27 13:57] #295 closed

[2015-10-27 13:57] #266 closed

[2015-10-29 14:38] ioannistsanaktsidis commented on #328
@jmartinm  for the last one, what it will be written in the dropdown. eg.Now the button says only PDF. In the dropdown we will have it like Version 1, Version 2?

[2015-10-29 14:41] jmartinm commented on #403
Fixed https://github.com/inspirehep/inspire-next/pull/445

[2015-10-29 14:41] #403 closed

[2015-10-29 15:59] jmartinm commented on #390
This is done

[2015-10-29 15:59] #390 closed

[2015-10-29 16:17] kaplun commented on #408
@jalavik @jmartinm I have updated this task according to today musings

[2015-10-29 16:47] aw-bib commented on #328
If you add a checkbox to select articles on a page this is surely meant to do something with them. Thus  please consider a some way of selecting all in one go. We miss this dearly in 1.x...

[2015-10-29 20:34] kaplun commented on #434
IMHO this belongs to the `Enabling search` milestone

[2015-10-29 20:39] jacquerie commented on #434
BTW, not an inconsistency but some undefined behavior: https://github.com/inspirehep/inspire-next/blob/3dab446ea8ff9776830954b098461a956fd93271/inspire/dojson/hep/schemas/hep-0.0.1.json#L753-L778 only allows us to define affiliations as opaque strings, but maybe we want to specify which kind of affiliation it is: is it a collaboration, an institute, a department...

[2015-10-29 20:41] kaplun commented on #328
Actually this is a good question. So far we basically have always a .PDF and

[2015-10-29 20:44] kaplun commented on #328
This would actually require some more thoughts indeed:
* if we are talking about publications, we typically will have only one PDF (from arXiv or from some SCOAP3 partner). Other revisions are going to be available to our users directly in arXiv.org.
* On the other hand we might have plots extracted from the given paper and we have to think of a way to make this plots downloadable. But this can be

[2015-10-29 20:53] kaplun commented on #434
@jacquerie in the HEP field the affiliation within a HEP record is typically the Department + Institute to which each author is affiliated while writing a given paper. Within Inspire Institution database we have entries both for Institutes and for the specific departments, with links allowing to go from Department to Institute. So it should be enough to have the opaque string to match uniquely a g

[2015-10-29 21:04] jacquerie commented on #434
About the collaboration: sometimes I've seen people declare multiple affiliations, one of which is a collaboration, in a paper not published by the collaboration. It probably doesn't happen with ATLAS or CMS, since they have strict standards about the use of their name, but smaller collaborations might allow that.

I really wish I had an example to show you : )

[2015-10-29 21:17] kaplun commented on #434
:scream:

[2015-10-29 21:18] kaplun commented on #434
@annetteholtkamp only you can save us now!

[2015-10-29 23:17] annetteholtkamp commented on #328
It's not so unusual to have a non-arxiv preprint - e.g. a conf paper from CDS - and a published version.

- Annette

On 29 Oct 2015, at 21:45, Samuele Kaplun <notifications@github.com<mailto:notifications@github.com>> wrote:

PDF Download - single button when only one available and dropdown menu when different versions available.

This would actually require some more thoughts indeed:

  *   if we

[2015-10-30 09:30] kaplun commented on #434
@annetteholtkamp says we can ignore collaborations when they are put in the affilation fields.

[2015-10-30 09:48] jmartinm opened #452 "Improve 0 results page"
This needs to be modified in the template `search.html`

When there are no results in a query, currently the following message is displayed:

[code]

In this case, we can:

1) On the server side we try to modify the query in a smart way to get matches and then communicate to the user the change performed.

2) We offer some search helpful tips and point to the search help.

Obviously 2) is easier s

[2015-10-30 11:34] aw-bib commented on #452
Sometimes, the information: "there is nothing" is very helpful and in all those setups where one "modifies the query in a smart way to return something" this information is easily overlooked and can produce quite some confusion.

Thus, probably, some "did you mean" listing just queries that give results is probably an option to consider.

[2015-10-30 12:21] annetteholtkamp commented on #434
What I mean by this: You can just leave it in the affiliation field and cataloguers can fix it. You don’t have to be smart and recognise it as a collaboration, to put it into the right field.
Should it turn out that Grobid misinterprets phrases like “on behalf of collaboration xxx” then we’d need to do something.

- Annette

On 30 Oct 2015, at 10:30, Samuele Kaplun <notifications@github.com> wrote

[2015-10-30 12:56] kaplun commented on #434
In which way have you fixed it? @annetteholtkamp mentions we should be able to store separately page ranges and article IDs.

[2015-10-30 13:08] jmartinm commented on #452
Good suggestion @aw-bib thanks

[2015-10-30 13:15] jmartinm commented on #434
Nothing is changed so far AFAIK so there is only one field `page_artid` both in the schema and in dojson.

I agree that separation would be nice but are we able to do that? If we import all our existing records are we able to distinguish what is a page range and what an article id? or it will be worse as we try to guess in all our workflows what is what and we will end up filling the wrong fields?

[2015-10-30 13:22] jacquerie commented on #434
Has this to happen at workflow time? Maybe you can just copy as if it were a page range and then decide  in a batch job that it is in fact an article id.

[2015-10-30 13:28] kaplun commented on #434
Yes, in fact @annetteholtkamp mentioned me there are some heuristics to decide if it's an article ID or the begin page. E.g.:
* if it has a dash it's a page range
* it it has 2 ore more letters it's an article ID
* it it is longer than 5 digits it's an article ID
* if it's from journal Foo it is...

We could in principle:
* [ ] put this heuristics in a common utils module
* [ ] amend the schema to

[2015-11-02 14:44] ioannistsanaktsidis commented on #411
@jmartinm  I started playing a little bit with facets. The ordering of facets is now done in our search.html, so we can take care as we want. So this problem is solved. The url addition bug is solved. I added a regex so as to filter the empty parameteres in a url. Finally I also fixed the year problem by creating a jinja filter and also changing it in the ES so as not  to crash while you filter by

[2015-11-03 16:20] kaplun commented on #408
See: inspirehep/inspire#122.

Currently a full dump with enhanced marcxml is being generated under `/nfs/production/var/tmp-shared/prodsync.xml`.

Once labs side is ready, we can then switch to use redis. The Labs client should simply connect to a shared redis instance (between prod and labs) and issue a blocking pop statement on a given `records` key.

[2015-11-04 08:56] ioannistsanaktsidis commented on #411
Concerning the slow response of GET /search?post_filter  , I debugged it yesterday. The problem seems to be here return response_formated_records(response.records(), of, **ctx) . When I remove the filtered_facets from the ctx, it seems to be quite faster.

[2015-11-04 09:42] ioannistsanaktsidis commented on #411
Also concerning the unused Javascript, there is a file called facet.js . I think this one is unused and can be removed.

[2015-11-04 10:13] nikpap commented on #452
In this case, I suggest it would be good to display the search bar once again. This way, the user can quickly do another search without having to go back to the previous page. Also, the query should be visible to the user; that is not currently the case.

[2015-11-04 10:14] eamonnmag commented on #452
Yes, or just the same page with some text where the search results are saying "No results have been returned for this query".

[2015-11-04 13:53] jmartinm commented on #452
Yes, the page should be the same one always when doing searches and the search bar always available.

Question here was more about improving the feedback given to the users in the part where the search results would be. For example, by giving a link to the search tips and/or showing variants of the search performed that would yield some results.

[2015-11-04 13:55] eamonnmag commented on #452
Search tips yes. Variants could be done by storing previously executed query strings that were non-empty, then taking the distance between the strings.

[2015-11-04 14:14] kaplun opened #456 "Crash in Holdingpen for unicode error"
See: https://labs.inspirehep.net/admin/holdingpen/details/188544

[2015-11-04 14:15] kaplun commented on #456
See: https://sentry.cern.ch/inspire-sentry/inspire-labs/group/6478/

[2015-11-04 14:17] kaplun opened #457 "Deploying on QA"
Deploying new elasticsearch-based search of HoldingPen, including migration scripts.

[2015-11-04 14:28] kaplun commented on #408
See: invenio.qa.cfg

[2015-11-04 14:59] kaplun opened #458 "Extending citation task to populate citations"
Currently only references are updated, but we should update also citations (especially to displaying numbers).

[2015-11-04 16:09] jmartinm opened #459 "Export functionality improvements"
* [ ] Loading spinner is always displayed close to the Download button. The element can be hidden from the beginning with css `display:none` and then shown when needed.
* [ ] All the files exported are called `export_as`. Would be nice to have the name based on the export format. Like `latexus.tex`
* [ ] CV Format Latex and CV Format Text have `<br>` tags in them. Not sure that is intended when do

[2015-11-04 16:40] jmartinm commented on #438
@gartocern this can be a good warm up task too

[2015-11-05 09:43] ioannistsanaktsidis commented on #459
@jmartinm the PR for the improvements that you mentioned https://github.com/inspirehep/inspire-next/pull/461

[2015-11-05 09:57] jmartinm opened #462 "deposit: several fixes needed before master branch deployment"
* [x] Affiliations typeahead is not showing the suggestions
* [x] Journals autocompletion gives error: `RuntimeError: maximum recursion depth exceeded while calling a Python object`

[2015-11-05 12:24] jmartinm commented on #384
This is currently ongoing in different issues, so this one is no longer needed.

[2015-11-05 12:39] jmartinm opened #463 "add correct material type to plots"
Currently all urls go to the same place in the schema. So a file with plots and and arXiv PDF looks like:

[code]

It would be nice if there was a way to filter the urls that are plots in order to show them in detailed view without everytime having to do some guessing based on `filename` and `png`.

Do you think we should amend the `dojson` import to add an appropriate `material_type` for all plot

[2015-11-05 12:42] jmartinm opened #464 "Show plots in detailed view"
Detailed views of Literature should show the attached plots.

Currently the link to the plots can be found in the record:

[code]

So based on the filename it is possible to distinguish a plot because of the `png` extension.

The plots should be shown with thumbnails, the current selected one in big and the description close to it.

For the moment plots can be served directly from the INSPIRE link

[2015-11-05 13:19] jalavik commented on #463
The big missing piece is that we cannot yet attach any files to records on labs. On prod we showed plots as they were attached with bibdocfile. These URLs from the demo records are then only treated as external links so my question is: (1) shall we display them from inspirehep.net even if they are not "attached" (or have a local copy)? or, (2) shall we implement a simple document attacher or `inve

[2015-11-05 13:21] jalavik commented on #464
A mentioned in #463, is it clear how we will "attach" the plots? Locally or just integrate images from inspirehep.net?

[2015-11-05 13:51] jmartinm commented on #463
As step 1 for end-of-november launch I would display them from inspirehep.net. Hopefully Invenio comes with `invenio-documents` soonish

[2015-11-05 13:53] jmartinm commented on #464
As mentioned in https://github.com/inspirehep/inspire-next/issues/463 for the moment I would just serve the images from inspirehep.net.

[2015-11-05 14:01] jmartinm opened #465 "do not allow anonymous feedback"
At the moment the feedback form

<img width="627" alt="screen shot 2015-11-05 at 2 59 38 pm" src="https://cloud.githubusercontent.com/assets/580727/10970257/c7cc3382-83cd-11e5-80a4-b6182265c8ea.png">

Uses the email address from the user if he/she is logged in.

If the user is not logged in, a ticket is created in the RT system but no email appears.

Solution
======

If the user is not logged in a

[2015-11-05 14:11] salmele commented on #465
It is very valuable to keep the threshold low for users to help with feedback, at least while we are in labs+prod phase. I agree that forcing (ORCID) login for this would be too much. I agree with the solution of asking extra e-mail field.

Concerning the verbiage, we should be careful about what we are asking for: it is ONLY for labs, and/or for bizarre things we see in that page. Not citations m

[2015-11-05 14:13] salmele commented on #452
@jmartinm I think we got comments in the usability review of the present system along these lines (showing search bar and about help/tips): can you check them. The 'did you mean' that @eamonnmag is sort of suggesting could come later, but can be explored.

[2015-11-05 16:46] jalavik commented on #463
Right. So perhaps a combination of enriching bibdocfile attached 8564 URLs with bibdocfile info for the enriched MARCXML export, with some simple filename based detection during dojson conversion?

[2015-11-05 21:07] kaplun commented on #463
Yes, @egabancho is working actively on that.

[2015-11-05 21:08] kaplun commented on #463
BTW I also vote for postponing handling documents. Since any way Prod is still master for everything we can simply put links to it and not worry about documents, yet.

[2015-11-05 21:09] kaplun commented on #463
Yes, I can enhance my MARCXML enhancer and add info directly sitting in the bibdocfile table. Albeit this will mean re-restarting the dump :-)

[2015-11-05 21:47] kaplun opened #467 "Warning when blending DB"
[code]

[2015-11-05 21:53] kaplun opened #468 "Crash in opening first record"
Opening http://localhost:4000/record/4994 crashes with:
[code]

cc: @jmartinm

[2015-11-05 21:57] kaplun opened #469 "Keywords links are broken"
Currently keywords in detailed record are clickable links to searches such as:
`http://localhost:4000/search?p=LEPTON:%20MASS`

These should instead lead to:

`http://localhost:4000/search?p=keyword:LEPTON:%20MASS`

CC: @jmartinm

[2015-11-05 22:00] kaplun opened #470 "Keyword searches with `:`"
Currently a search of the type:
``http://localhost:4000/search?p=keyword:LEPTON:%20MASS` leads to a crash of the form:
[code]

This should not crash in the face of the user. Additionally, when the value is quoted, it is currently not returning any result, i.e. http://localhost:4000/search?p=keyword:%22LEPTON:%20MASS%22 should return at least http://localhost:4000/record/5252 .

[2015-11-06 09:27] kaplun commented on #470
@Panos512 we were discussing today IRL with @jalavik & @jmartinm. For the time being we can fully disable second order functionality. I.e. the `invenio-query-parser` should be amended to only consider keywords up to the first colon, with everything else being considered as the value. Can you look into this?

[2015-11-06 09:29] kaplun commented on #467
@jalavik @jmartinm should we be worried?

[2015-11-06 09:31] Panos512 commented on #470
@kaplun Yes of course. Already started looking for the problem. I will try to just disable it to begin with.

[2015-11-06 10:24] jacquerie commented on #465
I can take this. Proposal for copy: "INSPIRE Labs welcomes problem reports, feature ideas and general comments. For missing citations in the current INSPIRE please refer to [this page](https://inspirehep.net/info/hep/corrections_reference)".

[2015-11-06 10:57] jmartinm commented on #452
@salmele Yes, they recommended 2)

This issue comes actually after reviewing and extracting action points from the usability review that I collected here https://docs.google.com/document/d/1yQp7LIl_ZKJ8o-HccPYzmxI8RJ11eZ0hLnJHMe8lPTY/edit?usp=sharing

[2015-11-06 14:29] annetteholtkamp commented on #465
Add “and other corrections/suggestions”

- Annette

On 06 Nov 2015, at 11:24, Jacopo Notarstefano <notifications@github.com> wrote:

[2015-11-06 14:39] jmartinm commented on #459
DOne

[2015-11-06 14:39] #459 closed

[2015-11-06 14:43] jalavik commented on #467
I do not see this on "my machine" :boom:

[2015-11-06 15:50] jmartinm opened #471 "Mega dropdown improvements"
Here we will collect improvements that need to be added to the Resources Dropdown.

* [x] Add an arrow down symbol that indicates the dropdown is going to open.

Like we do in the login

![screen shot 2015-11-06 at 1 45 00 pm](https://cloud.githubusercontent.com/assets/580727/10997357/cb923966-848c-11e5-9341-56d54a4f890a.png)

* [ ] Experiment with adding links close to the Logo on the left. That

[2015-11-06 16:24] ioannistsanaktsidis opened #472 "Cv_latex_html_text tests break in the new master"
The test needs to be updated after some changes that we did.

[2015-11-06 16:34] jmartinm opened #473 "affiliations not being shown"
Affiliations are currently not shown in brief and detailed results.

Also clicking on `Show all`, the authors have very small font

![screen shot 2015-11-06 at 5 33 49 pm](https://cloud.githubusercontent.com/assets/580727/11002361/9a5801da-84ac-11e5-9f2d-92146c020a44.png)

[2015-11-06 16:42] jmartinm commented on #468
@nikpap please, have a look.

[2015-11-06 16:44] jmartinm commented on #473
Actually the affiliations are shown, it was just the metadata.

So the only problem is the font being small.

[2015-11-06 16:55] jmartinm commented on #386
Done.

[2015-11-06 16:55] #386 closed

[2015-11-06 17:03] jmartinm opened #474 "Sorting of search results"
Sorting of search results needs to be implemented. Possible values for the dropdown can be:

* Best Match
* Newest
* Oldest
* Most Cited
* Least Cited (?)

Some other option?

[2015-11-06 17:04] jacquerie commented on #474
Do we have data about what do the users use currently?

[2015-11-06 17:24] salmele commented on #474
Agree with @jacquerie : we should check logs about how often people do something different than the default today and what they do. Hopefully with the ascending/descending variations. And -possibly- offer the same default.

Also, do checking the piwik/apache data for recurrent signs of user frustration in trying different queries to get to the order they really want does add information to the abo

[2015-11-06 17:48] kaplun commented on #468
For all these cases, when fixed, would be great to introduce a regression test to proof the fix.

[2015-11-06 18:02] annetteholtkamp commented on #474
Has the "latest first" option vanished from your design? I think it's sometimes useful - but the naming is somewhat unfortunate.

- Annette

On 06 Nov 2015, at 18:03, Javier Martin Montull <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorting of search results needs to be implemented. Possible values for the dropdown can be:

  *   Best Match
  *   Newest
  *   Oldest
  *   M

[2015-11-06 18:18] jacquerie commented on #468
:100:

[2015-11-07 12:19] jacquerie commented on #474
Am I misunderstand, or this could be called "most recent"?

[2015-11-07 12:30] annetteholtkamp commented on #474
"recently added"? These are the papers recently added to Inspire but they can be old. It has to be clear that this is not the date of the paper itself, but the date of ingestion.

- Annette

On Nov 7, 2015, at 1:19 PM, Jacopo Notarstefano <notifications@github.com<mailto:notifications@github.com>> wrote:

Has the "latest first" option vanished from your design? I think it's sometimes useful - but

[2015-11-07 15:08] salmele commented on #474
That's exactly what can be unnerving to users who do not understand that we can add things from the past (remote or close) somewhat haphazardly. Do we have indeed stats of how often someone sorts in such a way AND/OR uses F DADD as proxy for the interest of retrieving recently added papers?

[2015-11-09 08:50] #472 closed

[2015-11-09 09:04] #473 closed

[2015-11-09 09:09] jmartinm opened #477 "migrate overlay from LESS to SASS"
As Bootstrap 4 will be compatible only with SASS http://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/ we should move our overlay sooner than later to SASS.

For reference, here is the move of Invenio to SASS (for Invenio 3) - https://github.com/inveniosoftware/invenio-theme/pull/9

[2015-11-09 09:37] jmartinm commented on #467
Same here.

[2015-11-09 10:02] kaplun opened #478 "Introduce format cache"
We should introduce introduce support for caching brief/detailed formats via Redis. A simple API you should allow the invalidation of the format (e.g. when a record receives a new citation).

[2015-11-09 10:04] kaplun opened #479 "Invalidate cache of cited records after record update"
After a record is created/updated, a new receiver should be added to ~~invalidate the cache of~~ reindex all referred records that might be affected by this change:
* [ ] records that were cited by the modifed record and no longer are,
* [ ] records that are now cited by the modified record.

See also #478

[2015-11-09 10:09] kaplun opened #480 "refersto:123 support"
We need to be able to retrieve the lists of records that refers to a given record.

This is equivalent to ask elasticsearch for all the records that have 123 in `references.recid`

[2015-11-09 10:42] kaplun commented on #479
This would mean for the given record: fetch from elasticsearch the current `references.recid` list, check against the new one, and invalidate the cache for all the `recid`s that are not in the intersection.

[2015-11-09 10:57] kaplun opened #483 "Upon deletion of record checks for referring records"
We should raise a warning to the cataloguer if there is at least one link towards the record being deleted.

[2015-11-09 10:58] kaplun opened #484 "Merging records should propagate links"
When record A is merged into record B (and hence record A is deleted) all links towards record A should be updated to point to record B.

[2015-11-09 10:59] kaplun opened #485 "dojson: support for enhanced MARCXML links"
https://github.com/inspirehep/inspire/commit/de148e839653c18ad0c6572874ffe85702509482 and followed up commits have introduced several links across records.
[code]

Dojson scripts should amended accordingly to translate this links from MARCXML into JSON.
* [x] `100/700 $x` in HEP should go to `authors[].recid`
* [x] `100/700 $y` in HEP should go to `authors[].curated_relation` (in `dojson` this is

[2015-11-09 12:17] kaplun commented on #485
cc: @jmartinm

[2015-11-09 12:53] jacquerie commented on #467
...I see it on my machine!
[code]

[2015-11-09 13:05] jalavik commented on #467
Guess it is a difference WRT the bindings/mysql on MAC/Linux

[2015-11-09 13:06] jacquerie commented on #467
Or a consequence of Italian nationality.

[2015-11-09 13:13] kaplun commented on #467
That's not improbable. I have my system fully configured for Italian, and I already had a problem in the past with Puppet on production, which had certain plugins assuming erroneously english as console language.

[2015-11-09 14:31] kaplun opened #486 "Author profile pages should be usable when printed"
As a user reports:
[...]
The author profiles are of great help for getting an overview in several
contexts of evaluation or selection procedures, so it would be great if
you could look into this problem.
[...]

See also internal ticket: https://rt.inspirehep.net/Ticket/Display.html?id=525348

[2015-11-09 14:47] kaplun commented on #474
There is one additional point to add to the discussion: Invenio-based search used up until now in INSPIRE was by default always AND-ing all the searched terms, and then ranking by whatever criteria needed (in HEP nowadays this is latest papers on top, latest as in user, not as in librarians).

Elasticsearch on the other hand, by default, offers word similarity: i.e. all documents matched by at lea

[2015-11-09 16:07] #469 closed

[2015-11-10 08:22] #468 closed

[2015-11-10 10:16] kaplun opened #488 "Experiment completed 046__t -> 9999?"
Currently in Experiment record, if the experiment is still running the field `046__t` is set to 9999. However e.g. for https://inspirehep.net/record/1401119/export/hm no field `046__t` is set. Should we assume it is still running? What shall we do when converting to JSON? Enforce 9999?

cc: @annetteholtkamp, @jmartinm

[2015-11-10 10:47] kaplun opened #489 "MathJax is not enabled on detailed records"

[2015-11-10 10:47] kaplun commented on #489
cc: @nikpap @jmartinm

[2015-11-10 14:22] jmartinm opened #493 "Resources dropdown error on Firefox"
When using Firefox, the following error is thrown which blocks the rest of the JavaScript on the pages to load:

[code]

[2015-11-10 14:29] ioannistsanaktsidis commented on #493
The activateSubmenu is coming from jQuery menu aim, so I guess the library is not yet loaded when referred or sth like this?

[2015-11-10 16:16] nikpap commented on #464
@jmartinm  I've started working on this issue as well.

[2015-11-10 17:17] #493 closed

[2015-11-11 09:22] #489 closed

[2015-11-11 10:01] kaplun commented on #488
Meanwhile I proposed in #497 that in case no field is there nothing is printed.

[2015-11-11 10:03] #488 closed

[2015-11-11 10:17] annetteholtkamp commented on #488
If this field is empty we just don't know. Better not to assume anything.
Btw, even the 9999 may be wrong. It's not so consistently updated. It's just a best effort.

- Annette

On Nov 10, 2015, at 11:16 AM, Samuele Kaplun <notifications@github.com<mailto:notifications@github.com>> wrote:

Currently in Experiment record, if the experiment is still running the field 046__t is set to 9999. However e

[2015-11-11 12:51] jmartinm opened #499 "Create custom error pages (401, 403, 404, 500)"
Here is an example on how to register them:

https://github.com/inveniosoftware/invenio-theme/commit/1f6c4d33873ed50062e7ce27ba67035a25c9c067#diff-c4a18f011bbc6c827aab63168099ee71R69

[2015-11-11 14:56] ioannistsanaktsidis opened #500 "Problems after applying facets"
- [x] After searching something e.g higgs and you check and uncheck a facet the url after all that clicks becomes like ``` http://localhost:4000/search?ln=en&post_filter=author%3A%22Aaij%2C%20Roel%22&p=higgs&p=higgs&p=higgs&p=higgs&p=higgs&p=higgs ``` . The page is not crashing but the url needs to be refactored. -@ioannistsanaktsidis

- [x] Filter by year is not working correctly. E.g it shows th

[2015-11-11 15:17] ioannistsanaktsidis commented on #500
@jmartinm here are some of the problems that I found. I will keep searching.

[2015-11-12 09:36] ioannistsanaktsidis commented on #381
@kaplun Is creation date of the job now added to the metadata?

[2015-11-12 13:55] ioannistsanaktsidis commented on #500
For the first bullet I found what causes the problem, the problem is in updateURL function in search.js. After you merge the commit for invenio-search in master I can apply my PR on top.

[2015-11-12 13:56] jmartinm opened #507 "HepNames record errors"
With the new demo records proposed, the following errors appear:

https://travis-ci.org/inspirehep/inspire-next/builds/90724932#L521

They seem to be caused by HepNames template inheriting from the INSPIRE default detailed template which should not be the case.

[2015-11-13 08:55] Panos512 opened #512 "Single and double quoted search values"
On the current labs when a search contains double quoted values elasticsearch tries to match the exact same value with a record. But, since elasticsearch adds a score to every result, it is sure that the exact match of the value will rank higher than any other result.
Concerning the single quotes elasticsearch now searches for a phrase-match. This means that it tries to match the exact phrase give

[2015-11-13 09:37] kaplun opened #514 "Temporary author links"
For the time being we are enabling HEP papers on Labs, but not authors. Therefore author links should redirect back to Prod.

Given the `fullname` of an author (e.g. `Storaci, B.`), and the current  record being displayed the URL is:
`http://inspirehep.net/author/profile/<fullname>?recid=<recid>`.

CC: @jmartinm

[2015-11-13 10:00] jmartinm commented on #512
@kaplun As far as I know yes, that is the intended behaviour. This is the current behaviour on inspirehep.net (see https://inspirehep.net/help/search-guide?ln=en, section `Searching for words versus phrases`) and it would make sense to keep it.

[2015-11-13 10:03] jmartinm commented on #507
fixed.

[2015-11-13 10:03] #507 closed

[2015-11-13 10:07] jmartinm commented on #479
Do we have a cache for the citations/references or this means that we reindex the affected records in ES with the updated `citations` fields ?

[2015-11-13 10:28] kaplun commented on #479
This is assuming the citing records are calculated on the fly and the resulting numbers/links presumably cached in  redis.

[2015-11-13 11:02] salmele commented on #512
I am unsure about the way the average users do understand the search per words vs search per phrases. This would be important knowledge before committing to a behavior.

Can we check the log files of inspirehep.net to see how often users use 'single' and "double" quotes in their queries?

And whether the previous action to a query with quotes was one without? And whether the following action to on

[2015-11-13 11:10] jmartinm opened #515 "Add caching for brief record templates"
We are using `Flask-cache` for caching needs. In this link https://pythonhosted.org/Flask-Cache/#caching-jinja2-snippets it is explained how to cache jinja2 templates and how to invalidate the cache.

As some numbers displayed in search results (like the number of citations) will be calculated on the fly we need to add caching for brief results.

An API needs to be available as well that based on

[2015-11-13 11:11] salmele commented on #488
Which is the process through which we check when any/each experiment is no longer "running"?

[2015-11-13 13:34] jmartinm commented on #479
Related to https://github.com/inspirehep/inspire-next/issues/515

[2015-11-13 13:56] kaplun commented on #512
I added some fresh food for thought on Asana (since it contains statistics from Apache logs):
See: https://app.asana.com/0/18332606838148/65788758406938

[2015-11-13 15:57] bing13 commented on #512
I did a quick scan, and the doubles vastly outnumber the singles (factor of 10 almost?)  I only saw one case where the user changed from single to double to single
..	110__u:"Tokyo U., ICRR"
..	371__a:'Tokyo U., ICRR'
..       110__u:"Tokyo U., ICRR"
It looks like the data includes repeats of the search when the user pages through a result, so not clear how to interpret a comparison.

[2015-11-13 15:59] kaplun commented on #512
Good point. I will strip away jrec=* queries

[2015-11-13 16:07] salmele commented on #512
So this seems to point rather to folks using doubles as big G does, rather than knowing the subtle Invenio differences between single and double, non?

As mentioned asynchronously, it would be good to know which % of queries uses quotes altogether (trying to exclude canned searches....)

[2015-11-13 16:31] kaplun commented on #512
the 1.2% of the total searches I captured were using quotes. (note that in principle canned searches are already well excluded).

The interesting bit is that ~40% of the queries are using the SPIRES syntax, i.e. "find/fin/f + something"

[2015-11-13 16:32] kaplun commented on #512
(unfortunately from my log, which is based on pure Apache logs, I can't easily factor out cataloguers, albeit this are only the unauthenticated users...)

[2015-11-13 20:08] bing13 commented on #512
When I did calculations a few months ago I came out with ~45%, iirc.  That excludes users who still issues SPIRES syntax searches without beginning with "find" or "f".

[2015-11-17 08:37] jmartinm commented on #458
Not needed anymore?

[2015-11-17 09:21] kaplun commented on #458
Correct

[2015-11-17 09:21] #458 closed

[2015-11-20 10:57] jmartinm opened #535 "Elasticsearch rolling restart"
The following rolling restart method:

https://www.elastic.co/guide/en/elasticsearch/guide/current/_rolling_restarts.html

Should be implemented in our `fabric` tasks for easy cluster restart.

[2015-11-20 15:35] #514 closed

[2015-11-20 17:09] jmartinm opened #538 "Select-all export problem"
When using facets to filter results and then selecting all search results there seems to still be a problem @ioannistsanaktsidis

<img width="917" alt="screen shot 2015-11-20 at 6 07 48 pm" src="https://cloud.githubusercontent.com/assets/580727/11306390/c1f767a2-8fb1-11e5-85e6-6250069783d5.png">

[2015-11-20 17:14] jmartinm opened #539 "Disable Download button when no checkbox selected"
To avoid confusion, the Download button should be disabled when no checkbox is selected

<img width="321" alt="screen shot 2015-11-20 at 6 14 08 pm" src="https://cloud.githubusercontent.com/assets/580727/11306510/962c6b76-8fb2-11e5-9df7-70456723af97.png">

[2015-11-20 17:27] jmartinm opened #541 "Detailed/Brief: Display information about conferences"
For Literature records that have conference information, the following info can be found in the JSON:

[code]

Showing info in conference papers
==========================

Example 1
--------------

001292801 773__ $$c101-109$$n6$$pNuovo Cim.$$vC037$$wC14-02-23.1$$y2014

![screen shot 2016-01-15 at 3 15 55 pm](https://cloud.githubusercontent.com/assets/580727/12355144/fa6bb664-bb9a-11e5-9daf-b5d49

[2015-11-20 17:40] jmartinm opened #542 "Literature detailed: Author display improvements"
Based on the current implementation for inspirehep, author display has to be amended:

https://github.com/inspirehep/inspire/blob/master/bibformat/format_elements/bfe_INSPIRE_authors.py#L27

Important to note the logic about displaying corporate authors and collaborations.

[2015-11-20 17:45] jmartinm opened #543 "Year filter and number of citations filter"
Apart from being able to filter by a given year

<img width="295" alt="screen shot 2015-11-20 at 6 42 27 pm" src="https://cloud.githubusercontent.com/assets/580727/11307130/88aba378-8fb6-11e5-9ddb-6659656673d0.png">

it can be useful to have an extra facet that allows for a range and displays the distribution. Similar to

<img width="310" alt="screen shot 2015-11-20 at 6 43 57 pm" src="https://clo

[2015-11-20 17:46] jmartinm commented on #385
Done

[2015-11-20 17:46] #385 closed

[2015-11-20 17:46] #384 closed

[2015-11-20 17:48] jmartinm commented on #328
@annetteholtkamp

Do we have enough information in our metadata to show a description about the fulltext? Or we just have  a link to it?

Can you point to some examples in inspirehep with several fulltext so that we can test?

[2015-11-20 17:49] annetteholtkamp commented on #541
We need to differentiate whether a contribution has been published in the proceedings. Then information should be taken from the proceedings record (CNUM + collection Proceedings). - "published in ..."  There are 2 options:
- The proceedings are published in a journal (or in a series we treat like a journal). Then the information is in the metadata of the paper.
- The proceedings are pbulished in

[2015-11-20 17:52] jmartinm opened #544 "Create authors landing page"
As for the first iteration, author profiles will not be available on INSPIRE Labs, create a landing page with no search enabled, a pointer to the current HepNames collection and a message indicating that exciting features regarding authors coming soon.

* [ ] Disable search bar
* [ ] Add explanatory text

<img width="1177" alt="screen shot 2015-11-20 at 6 50 27 pm" src="https://cloud.githubusercon

[2015-11-23 10:20] salmele commented on #543
This seems really something to user test, both in the idea of the slider and what to put in...

[2015-11-23 10:28] ioannistsanaktsidis commented on #538
@jmartinm I think by default the rg value should be 10, as we display 10 results per page. Or you think we should change the results per page to 25 by default?

[2015-11-23 10:42] jmartinm commented on #538
The default search results are now fixed.

[2015-11-23 10:51] #539 closed

[2015-11-23 12:01] annetteholtkamp commented on #538
The current default on prod is 25. Is there a reason not  to keep it?

- Annette

On 23 Nov 2015, at 11:28, ioannistsanaktsidis <notifications@github.com> wrote:

[2015-11-23 12:04] jmartinm commented on #538
The default will still be kept in 25. There was just a bug in code that was setting it to 10 ;)

[2015-11-23 12:35] kaplun opened #549 "RFC Citations 101"
Problem
----------
Records are linked to each other in several ways:
* a publication A might *supersede* a note B (e.g. see: https://inspirehep.net/record/1230222 which is superseded by https://inspirehep.net/record/1304454)
* a book chapter A *is part of* a book B (e.g. see: https://inspirehep.net/record/1402860 which is part of https://inspirehep.net/record/1401459)
* a conference contribution A

[2015-11-24 12:29] jmartinm opened #553 "author facets number does not correspond with number of results"
The number shown in the Author facet:

![screen shot 2015-11-24 at 1 28 27 pm](https://cloud.githubusercontent.com/assets/580727/11366709/4a571d68-92af-11e5-803a-87cccd3f7073.png)

Does not correspond with the number of results that the user gets back when clicking on one facet value.

This only seems to happen in the Author facet.

[2015-11-24 12:30] jmartinm commented on #553
@ioannistsanaktsidis can you look into this?

[2015-11-24 12:31] ioannistsanaktsidis commented on #553
Yes sure!

[2015-11-25 10:30] Panos512 opened #556 "Known experiments list"
We are going to need a list of the known experiments in order to check and correct misspelled experiment names inside records. This will be used to avoid showing duplicate experiments in the facets (e.g. LHC-LHB and LHC-LHb at the same time).

[2015-11-25 10:44] annetteholtkamp commented on #556
You find all Inspire exp names in the experiments collection in the field 119__a.

- Annette

On Nov 25, 2015, at 11:30 AM, Panos Paparrigopoulos <notifications@github.com<mailto:notifications@github.com>> wrote:

We are going to need a list of the known experiments in order to check and correct misspelled experiment names inside records. This will be used to avoid showing duplicate experiments in

[2015-11-25 10:48] Panos512 commented on #556
That would be very helpful! But are we sure that all those experiments are valid? i.e. in the demo records that we are now using for labs the record with id: 559118 has 'CERN-LHC-LHCB' (instead of CERN-LHC-LHCb) as the experiment name.

[2015-11-25 11:01] annetteholtkamp commented on #556
119__a is our standard. Of course, as always, some metadata are unclean.

- Annette

On Nov 25, 2015, at 11:48 AM, Panos Paparrigopoulos <notifications@github.com<mailto:notifications@github.com>> wrote:

That would be very helpful! But are we sure that all those experiments are valid? i.e. in the demo records that we are now using for labs the record with id: 559118 has 'CERN-LHC-LHCB' (instead o

[2015-11-25 12:17] jacquerie commented on #556
I'd say that this XML: https://inspirehep.net/search?ln=en&cc=Experiments&ln=en&cc=Experiments&p=&action_search=Search&sf=experimentname&so=a&rm=&rg=2813&sc=0&of=xm&ot=119 contains the answer to your question.

BTW, what's the meaning of the `119__u` subfield? I see that sometimes it's used to denote the University/Institution, sometimes for additional notes. (More in general, where can I find thi

[2015-11-25 12:25] annetteholtkamp commented on #556
You’ll have to go to https://twiki.cern.ch/twiki/bin/view/Inspire/DevelopmentRecordMarkupExperiments

In general, 119__u contains the lab. But many experiments don’t take place in a specific lab.
Some of them are grouped under Astro.
Clearly, we should do better in the new data model. Since we now have subjects w could maybe just eliminate the Astro tag in 119__u.

- Annette

On 25 Nov 2015, at 13

[2015-11-25 12:25] jalavik commented on #556
So, we can avoid **some** duplication by simply having a generic deduplication filter for *all* facets. E.g. `LHC-LHB` and `LHC-LHb` would be deduplicated if we convert to lowercase and then filter and picking one of them to display properly (not lowercase version). Indeed this will not catch `CERN-LHC-LHCb` though, but as @annetteholtkamp says it is due to bad metadata which we simply then have t

[2015-11-25 12:31] annetteholtkamp commented on #556
Actually CERN-LHC-LHCb is the right one

- A

On 25 Nov 2015, at 13:25, Jan Åge Lavik <notifications@github.com> wrote:

[2015-11-25 12:49] Panos512 commented on #556
@jalavik Yeah that is what I am trying to do [here](https://github.com/inspirehep/inspire-next/pull/554).

I am gonna extract a list from the xml Jacopo posted and use it as reference.

[2015-11-26 10:58] #538 closed

[2015-11-26 11:00] jmartinm commented on #381
We will tackle the author part once we start using the new profiles.

[2015-11-26 11:00] #381 closed

[2015-11-26 11:05] #500 closed

[2015-11-26 11:06] #462 closed

[2015-11-26 11:09] jmartinm opened #561 "Author update form: create preview in Holding Pen"
As we have dropped support for the legacy templates, there is currently no preview of how a HepNames record will look like in the Holding Pen when a user adds/updates an Author.

A new basic template needs to be added that resembles the current HepNames (see for example https://inspirehep.net/record/1222902).

The code for this legacy template can be found here: https://github.com/inspirehep/inspi

[2015-11-26 11:11] jmartinm commented on #561
@ioannistsanaktsidis This is needed for deployment of the latest `master` branch. We can talk about it later.

[2015-11-26 13:38] nikpap opened #564 "Literature brief results"
An idea would be to increase the width of the left column in the brief results, by removing unused white space on the right side.

On top: suggested modification
On bottom: previous state - note the white space on the right side.

![capture d ecran 2015-11-26 a 14 36 10](https://cloud.githubusercontent.com/assets/2742143/11424188/4958dff8-944b-11e5-9c25-23012e8555ae.png)

[2015-11-26 20:17] annetteholtkamp commented on #564
We should also take into consideration where to put all the external links, see e.g.

Examples of mirror partners arising from integrable systems<https://inspirehep.net/record/558665> (In English and French)
Partenaires miroirs provenant des systèmes intégrables
Tamás Hausel<https://inspirehep.net/author/profile/Hausel%2C%20Tam%C3%A1s?recid=558665&ln=en> (UC, Berkeley, Math. Dept.<https://inspireh

[2015-11-27 09:28] ioannistsanaktsidis commented on #553
<img width="294" alt="screen shot 2015-11-27 at 10 24 49" src="https://cloud.githubusercontent.com/assets/7301890/11437902/76eca14c-94f1-11e5-91cc-6eafe546685b.png">

After rebasing and updating elasticsearch the problem with the authors is fixed (!??!!). I can't reproduce the problem we had.

[2015-11-27 14:52] ioannistsanaktsidis commented on #561
@jmartinm for a start should I start creating the file and the functions  according to the bft?

[2015-11-28 14:46] kaplun opened #572 "Crash with particular query"
When searching for `Inelastic strong interactions at high-energies: annual progress report for the periods june` the system crashes with:
[code]

[2015-11-28 14:47] kaplun commented on #572
@Panos512 can you have a look?

[2015-11-28 15:00] kaplun opened #573 "Facets reset"
I think a quick way to reset facets (and hence start a new search session) is missing.

E.g. imagine I am deep into certain facets but then I'd like to start a new search anew. Currently I would need either to go to the homepage or to unclick the facets one by one.

[2015-11-28 15:00] kaplun commented on #573
cc: @jmartinm @nikpap

[2015-11-30 08:54] kaplun opened #574 "Support multiple issn in journals"
Currently dojson fails e.g. on record https://inspirehep.net/record/1384337/export/xme because more than one issn is defined.
[code]

* [ ] dojson for journal records to support multiple issn and corresponding qualifiers in `$b`
* [ ] JSONSchema to reflect this
* [ ] elasticsearch mapping to reflect this
* [ ] format to reflect this

cc @jmartinm, @ioannistsanaktsidis

[2015-11-30 08:57] kaplun opened #575 "Support multiple continents in Jobs"
Record https://inspirehep.net/record/1375854/export/xme is failing because it specifies multiple continents:
[code]
* [ ] support for multiple continents in Jobs dojson
* [ ] support for multiple continents in Jobs jsonschema
* [ ] support for multiple continents in Jobs elasticsearch mapping
* [ ] support for multiple continents in Jobs format

cc: @jmartinm @ioannistsanaktsidis

[2015-11-30 08:58] nikpap commented on #573
Hey Sam, I believe that if you write a new search term on the search bar, all of the facets are reset.

Do you believe that is sufficient or should we add a "Clear facets" button?

[2015-11-30 09:05] jmartinm commented on #573
Yes, to me it would be nice to have something like in this flight website:

![](https://cloud.githubusercontent.com/assets/580727/10842243/9b93d888-7ef0-11e5-97c6-1f0882ba287e.png)

On the top of the search results. We can a similar message:

[code]

[2015-11-30 09:08] jmartinm commented on #573
It was the last point of this https://github.com/inspirehep/inspire-next/issues/411 btw

[2015-11-30 09:23] jmartinm commented on #544
Related https://github.com/inspirehep/inspire-next/pull/558

[2015-11-30 09:37] ioannistsanaktsidis commented on #553
@jmartinm could you also rebase and check this one? If is ok for you also, then we do not have any functional problems with the facets ;)

[2015-11-30 10:03] jmartinm opened #576 "HTML selector collision in Author forms"
An unwanted style is being applied in author forms due to some `id` collision.

See `http://localhost:4000/author/new`

![screen shot 2015-11-30 at 11 02 03 am](https://cloud.githubusercontent.com/assets/580727/11468691/cc295a94-9751-11e5-931c-cb4fd1286960.png)

[2015-11-30 10:08] jmartinm commented on #452
Actually at the moment, no message at all is being shown, so this needs to be fixed

![screen shot 2015-11-30 at 11 07 33 am](https://cloud.githubusercontent.com/assets/580727/11468829/a2a2ff6c-9752-11e5-8a07-4b5119a344bf.png)

[2015-11-30 10:15] jmartinm commented on #328
Updated with some more points. @nikpap Check if there is something missing that we have to add.

@annetteholtkamp Do we have some examples regarding multiple fulltext?

[2015-11-30 10:25] jmartinm opened #577 "Facet display improvements"
* [ ] In some cases, there are facets that get empty. They should be removed

![screen shot 2015-11-30 at 11 21 01 am](https://cloud.githubusercontent.com/assets/580727/11469107/6f20e184-9754-11e5-90d9-8b4270c2b2aa.png)

* [ ] As an extra would be nice to be able to collapse the facet content. Like

![screen shot 2015-11-30 at 11 23 21 am](https://cloud.githubusercontent.com/assets/580727/11469168

[2015-11-30 10:31] kaplun commented on #573
Ah @jmartinm sorry I wasn't aware of that.

[2015-11-30 10:32] jmartinm opened #578 "Fixes for Firefox"
There are some problems rendering the pages in Firefox.

* [x] Search bar is shortened

![screen shot 2015-11-30 at 11 29 11 am](https://cloud.githubusercontent.com/assets/580727/11469295/96f2567e-9755-11e5-8ad1-310a4a156721.png)

* [ ] Dropdowns do not display nicely.

![screen shot 2015-11-30 at 11 29 33 am](https://cloud.githubusercontent.com/assets/580727/11469306/a732f002-9755-11e5-8af9-79583

[2015-11-30 10:34] jmartinm opened #579 "Detailed record: make filtering work"
The filter for References and Citations on detailed pages should be made to work.

The user should be able to type any part of a reference/citation and only that will be shown.

![screen shot 2015-11-30 at 11 33 24 am](https://cloud.githubusercontent.com/assets/580727/11469372/28d528dc-9756-11e5-93a9-ae852ca878bb.png)

[2015-11-30 11:12] annetteholtkamp commented on #328
Here’s one example: https://inspirehep.net/record/630171
Original full text from CERN Courier + reprint.

- Annette

On 20 Nov 2015, at 18:48, Javier Martin Montull <notifications@github.com> wrote:

[2015-11-30 12:43] jmartinm opened #581 "Literature landing page changes"
We are currently showing the same search tips we currently do in production in the Literature landing page.

![screen shot 2015-11-30 at 11 35 46 am](https://cloud.githubusercontent.com/assets/580727/11469416/82880a20-9756-11e5-8106-35b70ab3f47d.png)

We need to:

* [ ] Decide whether we keep a single syntax advertised in the front page. That has been the external advise given to INSPIRE. Logs ref

[2015-11-30 12:48] jmartinm opened #582 "Implement Easy Search"
An equivalent to the current Easy Search:

![screen shot 2015-11-30 at 1 45 35 pm](https://cloud.githubusercontent.com/assets/580727/11471874/a1f37c16-9768-11e5-830b-a3ecf6e42ca9.png)

can be implemented as part of the search bar. An Easy Search link will make the fields appear under the search bar and the user can fill only the required fields.

Extra 1
=====
As every collection has different req

[2015-11-30 12:50] jmartinm opened #583 "Make typeahead work in the search bar"
Recent changes have broken the existing autocompletion that was present in the search bar.

This needs to be fixed in order to user test the functionality.

[2015-11-30 12:53] jmartinm opened #584 "Popup of Welcome to INSPIRE Labs can be annoying"
The popup currently is shown once per session and once closed it does not show until a new window is opened. This can be still too much so might be better to keep a cookie on the user's computer so that we don't show the popup again (with a timeout of say 1 week).

![screen shot 2015-11-30 at 1 51 44 pm](https://cloud.githubusercontent.com/assets/580727/11471975/7c3b7be4-9769-11e5-8d31-33717b83b61

[2015-11-30 13:04] jmartinm opened #585 "Create a Jinja2 helper for external links"
For consistency across the site, would be good if all external links (going away from INSPIRE) were displayed with an external icon, like:

![screen shot 2015-11-30 at 1 56 26 pm](https://cloud.githubusercontent.com/assets/580727/11472074/48a3cbbe-976a-11e5-9b54-a87960c9b3ee.png)

Ideally the developer would not have to worry about it and if a link points outside of the `inspirehep.net` domain the

[2015-11-30 13:10] jmartinm opened #586 "INSPIRE Labs SEO improvements"
Recommendations for SEO optimization are outlined in the first page of this document:

https://docs.google.com/document/d/1yQp7LIl_ZKJ8o-HccPYzmxI8RJ11eZ0hLnJHMe8lPTY/edit?usp=sharing

[2015-11-30 13:15] salmele commented on #585
TL;DR

One reason for which I like this is that a day we could work on the reference pages to make all reference clickable, to INSPIRE records when those exist, and outside with the external icon.

Full story:

Today in INSPIRE we have clickable titles (which is a hidden message for finding the record in INSPIRE) and non-clickable titles (which means we do not have the records in INSPIRE). This is

[2015-11-30 13:16] salmele commented on #584
+1 for a more rare pop-up and the cookie, maybe even with a longer timeout.

[2015-11-30 13:17] salmele commented on #564
Would most of the external links be more in the purview of the full record?

[2015-11-30 13:24] jalavik commented on #584
I've noticed also that the whole box is clickable so that when you click anywhere inside it - the box is closed. However you need to be a bit precise to hit the `click here` part to get to INSPIRE. I am wondering if it is better to force people to click the `x` to close it or if no-one else has experienced any issues with that it might just be me.

[2015-11-30 13:33] salmele commented on #549
I am not sure I understand the examples, and can think of counter-examples to do the opposite.

1) You suggest that if A is a chapter of book B, and D cites book B, A inherits *in all cases* this citation.

The counter-example is that the A as a chapter can be on foo, while another totally unrelated chapter in book B is on bar. Then in the text of the article D we have a string "As demonstrated in

[2015-11-30 13:36] salmele commented on #582
Do we have logs on how often users today use each of the EasySearch fields?

[2015-11-30 13:36] salmele commented on #582
Note that today only 'literature' has easy search accessible from adjacent the search box. The other collections do not. It is unclear whether Extra1 (for other collections) should be implemented/designed.

[2015-11-30 13:46] jmartinm commented on #564
For me they would belong inside the detailed view of a record. We have plenty of information already in the brief that allows to find the right record a user is searching for. Except if there was an intensively used link that would that by being in the brief format would save some time (I am not aware of any)

[2015-11-30 13:51] jmartinm commented on #553
I still see the issue. For example:

https://qa.inspirehep.net/search

Click on `Avetisyan, Aram`. That should give 16 results but gives 27.

[2015-11-30 13:51] salmele commented on #564
I fully agree (of course). Can we check the present logs, and strive for simplification? Also, present logs will give indication for the order of links in the detailed record (most clicked first)

[2015-11-30 13:57] ioannistsanaktsidis commented on #553
True, you are right!

2015-11-30 14:51 GMT+01:00 Javier Martin Montull <notifications@github.com>:

[2015-11-30 14:02] eamonnmag commented on #549
@salmele the graph would still plot the reference, but you would see a forward reference in the last case. We already have some examples where this happens.

In the proceedings example, this is a bizarre use case for me. When would one cite a proceedings or journal in full? Is it a physics thing?

In my opinion, which isn't so versed in the ways of citations, I see each version of a paper or objec

[2015-11-30 14:06] kaplun commented on #549
Correctly spot. Indeed this is proposed only in the relation `A supersedes B`. For `is part of` this does not make sense, indeed. I'll amend the original description. Ditto for the conference proceeding use case.

Good point. Note that we need to distinguish here where things would be presented:

* in A: total number of citations would be the union of the citations. However when displaying citatio

[2015-11-30 14:08] kaplun commented on #549
:+1: Indeed that was maybe not explicit in my 101, but yes, the raw data should store the exact links, while upon displaying we can aggregate according to what makes more sense and deliver the most service.

[2015-11-30 14:09] eamonnmag commented on #549
:+1:

[2015-11-30 14:12] salmele commented on #549
I am not sure that this behavior is the one expected by the community (of the readers, not of the authors of the entities receiving a larger number of citations). @annetteholtkamp @tsgit (and the rest of the team not on GitHub) this should be discussed in the contest of the AB.

[2015-11-30 14:16] kaplun commented on #549
(Just for reference: these stem from discussions with @annetteholtkamp in order to properly classify papers that superseded notes - e.g. ATLAS/CMS)

[2015-11-30 16:14] #544 closed

[2015-11-30 16:31] annetteholtkamp commented on #549
Indeed we have to clearly distinguish between superseded papers on one hand and proceedings/books on the other.

The discussion about superseded papers was started by ATLAS - to eliminate over counting of citations. On their request we don’t take citations to the superseded paper into account at all. And to avoid setting up something specific just for the LHC collaborations we currently have the p

[2015-11-30 16:39] #464 closed

[2015-12-01 10:19] nikpap commented on #585
Here's an idea of how to do it only with CSS: https://gist.github.com/01-Scripts/3010527

[2015-12-01 10:39] nikpap opened #589 "Export of multiple record bugs/enhancements"
In the search results, exporting a record can currently be done from two places:

1. Clicking on the cite button, inside the record block
2. Selecting the record and downloading the file from the top of the search results.

A different file with a different name is produced in each case:

1. Bibtex[record-id].bibtex, where record-id is the id of the record
2. bibtex.bib

Therefore, we need to:

-

[2015-12-01 10:55] jmartinm opened #590 "ElasticSearch nested authors creates too many documents"
Since the new mapping for authors with type `nested` was introduced, the number of documents in the ElasticSearch cluster grows as each of author creates a new document.

This was introduced to have a convenient way for `Beard` library to fetch only one author but might create performance issues.

We should either remove this functionality (and let `Beard` do the computation Python-side) or make s

[2015-12-01 10:57] jmartinm opened #591 "Small UI changes"
* [ ] Top div with search bar does not match width of bottom divs.
![screen shot 2015-12-01 at 11 56 06 am](https://cloud.githubusercontent.com/assets/580727/11498896/7ca6d89e-9822-11e5-898e-186509989172.png)

* [ ] On detailed pages, when there are no affiliations in the metadata, the `Show affiliations` link should not be shown.
![screen shot 2015-12-01 at 11 56 29 am](https://cloud.githubuserco

[2015-12-01 12:37] jmartinm opened #592 "Remove breadcrums ?"
As they are right now, breadcrums do not provide much useful navigation that a user would like to use:

In searches
========
![screen shot 2015-12-01 at 1 16 45 pm](https://cloud.githubusercontent.com/assets/580727/11500484/c669db24-982d-11e5-9597-5b009055421d.png)

In detailed views
==========
![screen shot 2015-12-01 at 1 26 40 pm](https://cloud.githubusercontent.com/assets/580727/11500708/22afc

[2015-12-01 12:55] nikpap commented on #592
I agree that it might be best to remove breadcrumbs; in their current state they don't add any useful information.

Regarding the `Back to search results` link, would that be a link to the previous page in the browser history? In case the user comes eg from Google's search results or from a direct external link, would be opt to completely remove the breadcrumbs?

[2015-12-01 13:17] jmartinm commented on #592
That's a good point. By checking the `referer` in the request, if it comes from our search pages we could even personalize it with the query they used.

`< Back to search results for author:Ellis`

And if they come from an external site then we don't show anything and they can use the search bar on top.

[2015-12-01 13:44] salmele commented on #592
We could then see how often this is used and, if unconvincing, axe it off the options.
Or maybe even try our hand with A/B testing upon launch and decide almost immediately.

[2015-12-01 13:47] salmele commented on #549
But this does not seem what @kaplun is suggesting the RFC.

If book/proceeding A has chapters B, C, D, ....Z then is a great idea that the individual record of book/proceeding A can show the sum of the citations which went to B, C, D, Z, in addition to those of A stand alone.

But giving to B all citations of A, when A was cited standalone, it seems a non-sequitur.

[2015-12-01 13:57] ioannistsanaktsidis opened #594 "Design in brief results"
<img width="364" alt="screen shot 2015-12-01 at 14 56 27" src="https://cloud.githubusercontent.com/assets/7301890/11502560/d0233f8a-983b-11e5-9e6f-c6f879f8f3cc.png">

I think we should align all the boxes to be in the same level for consistency.

[2015-12-01 14:01] nikpap commented on #594
Indeed, has been noted in https://github.com/inspirehep/inspire-next/issues/591

[2015-12-01 14:03] #594 closed

[2015-12-01 14:03] ioannistsanaktsidis commented on #594
cool then i am closing mine.

2015-12-01 15:01 GMT+01:00 Nick Papoutsis <notifications@github.com>:

[2015-12-01 14:18] jmartinm commented on #592
Sounds good, this can be a simple example to get the A/B testing tools in place.

[2015-12-01 14:31] kaplun commented on #590
I am checking and the situation is not so terrible. The truth is there are not so many documents having many authors. We tend to focus on them because of our CERN bias, but in fact they are a minority. So with this improvement it's true that there are more documents, but no so many. I tend to think they might be around 5x times more than just HEP records.

More precise numbers coming soon.

[2015-12-01 14:45] kaplun commented on #590
OK. The exact number as of today is going to be 11091896 i.e. ~11M documents. I think it's feasible.

[2015-12-01 15:01] kaplun commented on #590
Note: here are the detailed number: https://docs.google.com/spreadsheets/d/15TkP-bDemBmYL5SSgh-tlFGYBejEYZfk-roLmqyW4Go/edit?usp=sharing

[2015-12-01 15:15] Panos512 commented on #572
Looks like the problem is on the '-' character. The parser tries to find keywords automatically, identifying as a keyword every word that is followed by ':'. The problem is that is tries to match only alpharithmetical characters, so '-' breaks it.

We could try enabling special characters on keywords but I think this approach is wrong because we will have to identify queries without keywords to en

[2015-12-01 15:48] ioannistsanaktsidis commented on #577
@jmartinm  by default the facets will be opened or closed?

[2015-12-01 16:24] jmartinm opened #597 "Brief and detailed production check"
Brief and detailed formats still lack some basic information that is currently displayed on production.

This is more obvious in some of the records:

![screen shot 2015-12-01 at 5 20 17 pm](https://cloud.githubusercontent.com/assets/580727/11506419/c514fc96-984f-11e5-9809-e9b5ecb487da.png)

The current [brief](https://github.com/inspirehep/inspire/blob/master/bibformat/format_templates/Default_HT

[2015-12-01 16:29] kaplun commented on #408
Getting there!

[2015-12-01 16:31] kaplun commented on #408
For reference see: #596 #580 #570 #557 #550 #536

[2015-12-01 17:28] #584 closed

[2015-12-02 09:39] kaplun opened #600 "Fulltext search"
Check this:
https://inspirehep.net/search?ln=en&ln=en&p=fulltext%3Agatis++0909.4255&of=hb&action_search=Search&sf=earliestdate&so=d&rm=&rg=25&sc=0

![sso1](https://cloud.githubusercontent.com/assets/119349/11527357/c926de12-98e0-11e5-8200-037159d389ef.png)

There are 2 problems:
* [ ] Stemming is enabled thus one can not search for the original "Gatis"
* [ ] The snippet seems mangled.

cc: @ksachs

[2015-12-02 10:33] ioannistsanaktsidis commented on #471
@jmartinm this one is addressed by your latest changes right?

[2015-12-02 13:02] kaplun commented on #589
Yep, the `.bib` extension is the only correct one.

[2015-12-02 14:38] jmartinm commented on #471
Yes, I will close this. I think its ok for the moment.

[2015-12-02 14:38] #471 closed

[2015-12-02 16:17] nikpap commented on #592
Note that there are some 'hidden' breadcrumbs behind the search bar:

![capture d ecran 2015-12-02 a 17 16 12](https://cloud.githubusercontent.com/assets/2742143/11536396/954e1ed8-9918-11e5-89b0-02d99c579cd8.png)

[2015-12-02 16:23] ioannistsanaktsidis commented on #328
Add number and checkbox in front of every result ? for the checkbox we already have it, are we going to need the number in the end?

[2015-12-02 16:30] salmele commented on #328
Interesting one! Sometimes @annetteholtkamp gets feedback tickets where users say that record no.37 has to be changed (without sending the search, so usually this is quite useless).

Do we have a reason (apart from the fact we have numbers now) for adding them?

I'd vote to go without and adding them if we hear (loud) disappointment for them being missed.

[2015-12-02 17:53] #577 closed

[2015-12-02 17:57] bing13 commented on #328
They may also help users when they’re paging through result pages.   If we have checkboxes so users can select sets of result items *across* search result pages, that perhaps might reduce this type of usage.

From: Salvatore Mele [mailto:notifications@github.com]
Sent: Wednesday, December 02, 2015 8:31 AM
To: inspirehep/inspire-next
Subject: Re: [inspire-next] Design improvements for HEP brief sea

[2015-12-02 18:34] annetteholtkamp commented on #328
Personally, I find them useful. Gives me some orientation if I have to check a list of records. Would be great if one could switch the numbering on.

- Annette

On 02 Dec 2015, at 18:57, Bernard Hecker <notifications@github.com<mailto:notifications@github.com>> wrote:

They may also help users when they’re paging through result pages. If we have checkboxes so users can select sets of result items

[2015-12-03 07:39] aw-bib commented on #328
Would it probably be sensible to give the recid in front instead of a counter or even better a unique, persistent accession number? Also addressing the ticket-issue @bing13 mentioned?

BTW: If you're not in the know, it is not that easy on inspire to know what to give as a reference for a paper in a ticket (most likely I'd resort to the bibliographic blurb). For many web pages, even today, the URL

[2015-12-03 08:22] aw-bib commented on #589
I would suggest for the file name something that signifies iNSPIRE (bibtex sounds a bit too generic to me) I'm not entirely sure if it might be clever to add a some datestamp or the like so that subsequent downloads don't accidentally overwrite each other.

[2015-12-03 08:23] aw-bib commented on #600
Is there a way to enforce "as is no fancy stuff". Usually signified putting the string in quotes. (I think this would be helpful in general, not only for fulltext.)

[2015-12-03 08:32] kaplun commented on #600
In this moment with elasticsearch everything is possible. As long as the user receives what she expects.

Note that with Elasticsearch we can be more Google like, hence be at the same time precise and fuzzy, but having the most precise results ranked on top.

Another wild idea is that we can expose to cataloguers the whole elasticsearch syntax and then you can search whatever you want:

https://ww

[2015-12-03 08:48] aw-bib commented on #600
Probably, I should be more direct: There should be a possibility to switch off all fancy stuff and search literally. Usually, this happens by quoting. This should be possible for mere mortals and cataloguers alike. It is _not_ a cataloguers need, but really common. And it should work the same in _all_ indices. (Just the question came up with the fulltext index here.)

My experience as a "searcher"

[2015-12-03 09:19] jacenkow opened #604 "Normalization of hepnames/authors"
I was wondering if we can carry out a normalization of ```hepnames / authors``` in the same way as it was done with ```hep``` for Elasticsearch.

For example, an author of a ```hep``` record will have all the fields but with ```null``` value for a not complete dataset.

[code]

But currently the ```hepnames / authors``` index not only introduces an empty string (```''```) in case of a missing fiel

[2015-12-03 09:42] kaplun commented on #604
Personally I think we should not have `null`/empty values. This are unnecessarily bloating the data. Elasticsearch should allow us to search for non filled up values, correct?

[2015-12-03 10:31] nikpap opened #606 "Searching for a record title doesn't show the record in the results."
Copy-pasting and searching for a record title usually shows 0 results.

Some queries are succesful: https://qa.inspirehep.net/search?cc=HEP&p=Horizons+of+knowledge+in+cosmology&action_search=&rg=25 correctly displays the right record.

While fail:
https://qa.inspirehep.net/search?cc=HEP&p=About+functional+methods+in+superspace&action_search=&rg=25
should probably show https://qa.inspirehep.net/rec

[2015-12-03 12:37] jmartinm commented on #600
Should we move this to the `inspire` repo instead of `inspire-next` to avoid confusion? As it is not currently a `bug` on Labs.

[2015-12-03 12:40] kaplun commented on #600
Nope. Because on inspire repo I don't think it's possible to amend the fulltext search easily. While for Labs we are in time to do things right :)

[2015-12-03 12:43] kaplun commented on #600
Yes: but the mere mortals are going to be confused if they start to combine several indexes... I better open a dedicated issue to discuss this.

[2015-12-03 12:54] #411 closed

[2015-12-03 12:54] kaplun opened #609 "Searching 101"
* On current legacy Invenio a query of the form of `foo bar baz`, was searching for **all and only** the documents having *all* the 3 words anywhere.
* On current legacy Invenio a query of the form of `key:value key2:value2` is matching **all and only** the documents having `value` in `key` and `value2` in `key2`.
*  On Google and default elasticsearch a query for the form `foo bar baz` is matchin

[2015-12-03 12:54] kaplun commented on #600
See #609

[2015-12-03 13:03] jmartinm commented on #296
Regarding this, for the Invenio-equivalent keywords supported by the Spires syntax https://github.com/inspirehep/invenio-query-parser/blob/master/invenio_query_parser/contrib/spires/config.py#L26

they should be added to the inspire/config https://github.com/inspirehep/inspire-next/blob/master/inspirehep/config.py#L292 mapping to the correct field in our data model.

[2015-12-03 13:06] jmartinm commented on #609
+1 for Elasticsearch way when not using any specific syntax `foo bar baz`

The best practice is to have as many results as possible and ElasticSearch should do a good job in the ranking.

[2015-12-03 13:07] jmartinm commented on #606
I guess related to https://github.com/inspirehep/inspire-next/issues/609

[2015-12-03 13:08] jmartinm commented on #592
Breadcrums have now been removed.

[2015-12-03 13:08] #592 closed

[2015-12-03 13:10] ioannistsanaktsidis commented on #597
@jmartinm Fixed publication info, added year, fixed title problem, added report numbers. That's what I discovered. Anything else in mind?

[2015-12-03 14:00] annetteholtkamp commented on #609
If we go for this option we should make it transparent to the user whether all words have been found or not. Google shows you the unmatched words by striking through them.
Or we should add a tick box: Match all terms (use ‘and' instead of ‘or')

- Annette

On 03 Dec 2015, at 14:06, Javier Martin Montull <notifications@github.com> wrote:

[2015-12-03 14:01] aw-bib commented on #609
I may buy this for google. I'm pretty sure I do not (at least not in this generality) if I'm searching scientific literature.

Usually, the problem there is that you get to many results that you need to narrow down, and unlike google where basically any document that is _good enough_ serves in the scientific case you're searching _the_ relevant paper. And relevance in itself here gets very difficu

[2015-12-03 15:22] ksachs commented on #609
It has to be transparent what this thing is doing. I.e. keep it simple or at least tell the user what was done (and why) so they have a chance of understanding the query. I guess I have to see it before I understand your proposal.

[2015-12-03 16:14] kaplun commented on #609
Unfortunately this is not what we are experiencing day by day with user testing. All users interviewed so far said they are typing thing in INSPIRE ala Google, then don't find what they want (either deluge of unrelated results or no results at all), then they move to Google and there they find the exact paper they want in the first 3 results. This is because when they are looking for a paper, what

[2015-12-03 16:24] ioannistsanaktsidis commented on #542
@jmartinm this one is in the WIP PR for tha brief and detailed that I created. I have to check once more some stuff about corporate author and collaboration You can assign this issue to me.

[2015-12-03 16:53] aw-bib commented on #609
Probably, I only get those jobs to my desk where people can not find it in google right away (ie. the not entirely trivial things). As I treat them as very valid use cases, especially for a specialized database, at least have an option to get exact matches "for what I ask for". For me one selling point of invenio is that I can have a complex question.

[2015-12-03 17:47] bing13 commented on #328
From a UX perspective, sequential index numbers also provide an indication of "how far" into a search result list you are, as you traverse back and forth.  It's a useful signpost in that sense.

[2015-12-03 18:04] bing13 commented on #609
I agree with the suggestion we leverage elasticsearch's strength as the default. Annette's suggestion that we flag when we return results that are missing terms would be extremely helpful, I think.

As mentioned, this would increase the importance of offering an obvious option for submitting an exact query.

[2015-12-03 21:08] kaplun opened #611 "Using native elasticsearch autocompletion"
Elasticsearch supports a native datatype suitable for auto-completion  (whatever that means):
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html

Would be great to investigate it and, in case, take advantage of it in all our auto-completion usecases.

cc: @jmartinm

[2015-12-03 21:12] kaplun opened #612 "Using native elasticsearch attachment support"
Woah, elasticsearch is able to natively (via an official plugin) extract text from more than 1K formats. We should definitively use this:
https://github.com/elastic/elasticsearch-mapper-attachments

[2015-12-04 08:12] kaplun opened #613 "TexKey generation"
Once Labs is the master for records we need to issue TeXkeys there.

This should be implemented using the [PidStore](https://github.com/inveniosoftware/invenio-pidstore), via a record enhancer.

Legacy implementation of TeXkeys is here: https://github.com/inspirehep/invenio/blob/prod/modules/miscutil/lib/sequtils_texkey.py

cc: @tsgit

[2015-12-04 08:43] #590 closed

[2015-12-04 10:32] kaplun commented on #480
This was implemented in 6b70ea068e164ae5e57ce79f0294283f2f850812

[2015-12-04 10:32] #480 closed

[2015-12-04 10:34] kaplun commented on #474
See also #609

[2015-12-04 10:35] kaplun commented on #609
Yes, the complex queries will fully be supported. The main question here is more for the simple Google like ones, whether to go for default elasticsearch behavior. I think the overall consensus is summarized by @bing13 in the above comment.

[2015-12-04 10:50] nikpap commented on #589
INSPIRE + record title ?

That's already handled by the browser, so there's no need to worry about it.

[2015-12-04 10:56] ioannistsanaktsidis commented on #578
@jmartinm from a search I did the select tag is a known problem between firefox and chrome. The problem is the class='form-control' from bootstrap. For some reason firefox is not compatible with this. if you remove the class the select looks like this in both browsers:
<img width="205" alt="screen shot 2015-12-04 at 11 55 28" src="https://cloud.githubusercontent.com/assets/7301890/11588028/ef60a1f

[2015-12-04 11:22] aw-bib commented on #589
What would be `record title` for several records? For a single record, the full title could be a bit long.

[2015-12-04 11:43] salmele commented on #589
or recid?

For several recid (which is a distinct case if users would build an entire bibliography from a given search) the concatenation could be very long. Is there a moment where we have to worry about some OS not liking the size of the filename, and maybe just revert to INSPIRE+bibtex+timestamp ?

An (very likely) use case of the above would be a citedby:X search, so to reconstruct the outgoin

[2015-12-04 12:03] kaplun commented on #589
Note that the users interviewed so far stated they simply prefer copy&paste than download because they have anyway opened their editor on the side. Last user suggested we can simply let the user to choose the file name by giving an optional textfield.

[2015-12-04 12:07] aw-bib commented on #589
`recid` sounds good to me, if it's not considered to technical. Bibtex-keys would also be an option but Windows does not like the `:`.

To keep the names short (I think it is also a usability issue, if I want to import that beast to something like JabRef) one could consider `<fromid>-<toid>` giving the smallest and largest number, knowing that it might not be a sequence.

As @kaplun points out it

[2015-12-04 12:20] ioannistsanaktsidis commented on #575
You can assign this one to me. I will take care.

[2015-12-04 12:32] kaplun commented on #575
Thanks :+1:

[2015-12-04 12:34] kaplun commented on #589
Do you mean RT tickets in INSPIRE? Can you point me to those?

[2015-12-04 12:34] ioannistsanaktsidis commented on #575
As I see now this record contains in the continent this:
[code]
I can make it support a list, but is it correct to have all these in the record ?

[2015-12-04 12:36] kaplun commented on #575
I think the first element is probably due to some past limitation. I guess just having:
`[{'a': 'South America'}, {'a': 'Europe'}]` would be the correct model. What record ID is this?

cc: @annetteholtkamp, @hoc3426

[2015-12-04 13:05] ioannistsanaktsidis commented on #574
Also this one you can assign to me. I will take are.

[2015-12-04 13:16] aw-bib commented on #589
We == join2. No tickets in rt.

[2015-12-04 13:33] Panos512 commented on #572
After a three day fight with the parser he finally won. It seems that accepting keywords from a specific list and parsing every other word ending with the `:` character as a value is not supported  by the parsers logic at the moment. What we can do (except of creating a new parser  or radically redesigning this one) is, exactly what I didn't want to do, which is letting the parser accept special c

[2015-12-04 13:41] salmele commented on #589
As we are currently unsure on the overlap in information practices of the two user bases, we could just feed this back into our next round of user testing for INSPIRE. Good.

[2015-12-04 14:25] kaplun commented on #572
@Panos512 just to be fully sure I am understanding: what do you mean with the second example?

[2015-12-04 14:26] Panos512 commented on #572
It's the parsers output for:
[code]

[2015-12-04 16:14] kaplun commented on #572
As mused IRL there is still one more tentative (too complex to explain on Github :dancer: ) to try to fix this bug.

[2015-12-04 21:33] bing13 commented on #474
I don't think piwik can tell us which sort option was selected, but I could be wrong.  The Visitor Log is a lovely way to scan what people are searching for, but it seems to only have the query itself. Systematically log diving for this info wouldn't be much fun.

We have had user tickets in the past on the recently added vs recently published question. "Recently added" sounds nice to my ears, it'

[2015-12-04 22:13] bing13 commented on #589
+1 for the user testing.

In the past we have indeed occasionally gotten tickets for "please can we get rid of the cut-and-paste, no modern site makes us do that."   But searching in RT stinks. The only ticket I could find was this one (which also refers to API): https://rt.inspirehep.net/Ticket/Display.html?id=363293

[2015-12-07 09:18] ioannistsanaktsidis commented on #582
@jmartinm  I will create a first prototype of the easy search.

[2015-12-07 10:23] kaplun commented on #582
Among those that reach for the /help URL (and EasySerch is within this path), EasySearch represents mostly 85-90% of the reason.

In November it has been used 17000 times (unique page views ~10000 times). And that's for 130000 computed unique visitors in November. So potentially, 13% of people used it. But I am not so good at statistics, I might be mistaken. This data was taken from Piwik month of

[2015-12-07 10:24] kaplun commented on #582
This came out during user testing when it has been reported as a substitute to the SPIRES syntax.

[2015-12-07 10:25] kaplun commented on #582
:+1: Indeed the other collections have far less metadata fields to search for, and far less content, and can hence be better filtered out with facets alone and normal search.

[2015-12-07 10:42] salmele commented on #582
By looking at the those, can we see which fields are used ? In particular how much is journal drop-down (we know the punctuation in the journal names is mostly bewildering). This can be guidance in how to prototype the new one *AND* how to maybe present higher up in the faceting options those terms which are most often calling for a EasySearch approach

[2015-12-07 14:29] kaplun opened #619 "Literature submission to check for real PDF"
Currently in the literature submission a check is missing (or broken) to check whether a specified URL of a PDF corresponds to actually a PDF (and not a splash page).

E.g. the system got tricket by the URL http://escholarship.org/uc/item/93t675vk.pdf (which redirects normal agents to a web page displaying the PDF in an iframe).

cc: @annetteholtkamp

[2015-12-07 14:51] ioannistsanaktsidis commented on #573
The functionality looks good, we just need to see where it fits better.

[2015-12-07 16:18] ioannistsanaktsidis commented on #573
@kaplun  you can assign this to me.

[2015-12-08 07:45] aw-bib commented on #589
Usually, requests to download instead of copy&paste stem from people using graphical tools for literature management like JabRef, EndNote, Citavi, Zotero etc. These people integrate external databases into their local work flows of literature management and often use their local databases also for easy full text access to stored files. Set up properly, clicking the download will feed the reference

[2015-12-08 08:53] kaplun commented on #589
Just to clarify: the download functionality is not going to disappear.

What appeared through user testing is simply that users would like to have a chance to still cut & paste, or in general see the the BibTeX content *before* clicking on the download button.

Then there was the minor open question on how to call the downloaded content, but this is really minor.

So related to BibTeX generation,

[2015-12-08 11:03] jmartinm commented on #328
In the past I also got feedback from our AB member John that sometimes he uses the number, for example when chatting with someone (on the phone or chatting) in order to reference a record. Like `look at record 3 on this search` so might be useful for more people.

[2015-12-08 12:22] jmartinm commented on #578
I would still give a try to `select2`. It would make them look exactly the same in Firefox and Chrome and with a better style and some extra options.

[2015-12-08 12:30] #576 closed

[2015-12-08 12:38] jmartinm commented on #619
The current Labs uses a legacy function for the check:

[code]

And as that function disappeared, the new Labs (once deployed) will have:

[code]

Might not be able to capture those special cases.

[2015-12-08 13:08] kaplun commented on #328
:+1: for sequential IDs related to search results, indeed.
:-1: to record IDs (imagine on the phone: "do you see record one million seven hundred thousands and five? The one after half a million and seven hundred and forty five).

[2015-12-08 13:13] kaplun commented on #619
The old implementation uses head as well as a first technique. This might explain why it is currently failing. So we after the upgrade we are probably going to offer the same service.

Might still good then to keep this ticket open, until we implement the full check of download and `magic` check.

[2015-12-08 13:22] jalavik commented on #619
We should check and compare with some of the failing cases as I suspect the `requests` solution might perform better due to redirects etc.

PS: Some legacy applications may report back `application/x-pdf` as content-type, so potentially we can use something like `'pdf' in content_type`.

[2015-12-08 14:32] salmele commented on #328
John's point is valid... as long as folks talking to each others have different results on their screens anyhow. While we won't be having a 'bubble' around each searcher, it is true that just the way facets would be (de-)selected in bringing someone to a give screen might make this point harder to be applied...

[2015-12-08 14:34] jalavik commented on #619
Another case I have seen in the MARCXML sent to production is that `FFT__a` lacks the protocol scheme (`http(s)://`) and it fails.

[2015-12-09 13:50] nikpap opened #627 "Mobile/tablet display improvements"
- [x] Collections displayed in menu. Layout suggestion displayed below (with different icons!)

![capture d ecran 2016-02-02 a 09 49 11](https://cloud.githubusercontent.com/assets/2742143/12744052/4de4bd9a-c992-11e5-898a-d87b4e1b4069.png)

- [x] Title text is cut off too early (in the 5th word) while there is more space on the right side (even enough space to display the right column)
![capture d

[2015-12-09 20:36] kaplun commented on #311
In the short term we are representing relations with simply the recids. After upgrading to Invenio 3.0 we'll see how to best expose them. In parallel there is the work on relations based on Neo4J.

[2015-12-09 21:01] jirikuncar commented on #311
There is a pull request ready for resolving references in records https://github.com/inveniosoftware/invenio-records/pull/91. It uses https://github.com/inveniosoftware/jsonresolver instead of invenio-jsonref.

[2015-12-09 21:14] kaplun commented on #549
@salmele I have added the specification that the counting is considering the union only in the case of the *supersede* relation, not in the case of the *is part of* relation.

[2015-12-09 21:17] kaplun commented on #549
Actually I realize the mistake in my RFC. I swapped the role of A and B for books and proceeding. I think in this way everything is correct.

[2015-12-09 21:19] kaplun commented on #549
Note to @pherterich and @suenjedt : similar relation could be thought for *Data* records that relates to a *paper*. This is similar to the discussion of the book chapter Vs. the Book. Although we might decide that a citation to the data does not propagate to the corresponding paper.

[2015-12-09 21:29] kaplun commented on #515
I am removing the milestone here, since this is not a blocker to Enabling search. The number of citation is no longer going to be computed on the fly, since it needs to be used for ranking any way.

[2015-12-09 21:30] kaplun commented on #515
@jmartinm A bit OT: is there someone working on the rank by citation number?

[2015-12-09 21:32] kaplun commented on #485
I think this still missing. @ioannistsanaktsidis can you take care of this? In particular the links in the HEP records are necessary for the milestone.

[2015-12-09 21:33] ioannistsanaktsidis commented on #485
Yes no worries, I will take a look.

[2015-12-09 21:36] kaplun commented on #479
@tomaszgy is currently working on it in #691

[2015-12-09 21:53] kaplun commented on #265
Removing milestone since this is no longer a blocker for Enabling search. It needs just to be polished little by little.

[2015-12-09 21:54] kaplun commented on #267
Removing milestone since the missing formats are not a blocker for Enabling search.

[2015-12-09 21:55] bing13 commented on #549
@eamonnmag  said:

Just to be clear, whether an new article or book version receives a new DOI is up to the publisher, etc., and there is certainly variability in practices.  FWIW.

[2015-12-09 21:56] kaplun commented on #276
Is this still uptodate? I think we need to create better a generic issue where to collect all search related issues.

[2015-12-09 21:57] kaplun commented on #298
This is superseeded by #621

[2015-12-09 21:57] #298 closed

[2015-12-09 21:59] kaplun commented on #434
So this is not really a blocker for Enabling search milestone. It's going to be needed though by the time we enable all the citation machinery.

[2015-12-09 22:00] kaplun commented on #456
@jalavik, @jmartinm was this fixed on current master?

[2015-12-09 22:31] #561 closed

[2015-12-10 00:11] jalavik commented on #582
I am a bit late to the party, but in relation to the ongoing work in #618, do we have here an opportunity to think about how to potentially evolve easy search on Labs from the version on production? Say add/remove fields, interactivity (like autocomplete), UX, design etc.

[2015-12-10 00:13] jalavik commented on #456
Partially, at least it does not crash the site, but there is still an exception happening. (I have a local dump of it). I will look into what's causing the crash.

[2015-12-10 08:20] kaplun commented on #582
:+1: I think we should not hurry on this one, and indeed do a more thorough usability study.

[2015-12-10 08:45] jmartinm commented on #276
Yes, we can close this one. The doi mapping is not yet correctly added in our `hep.json` though. Will create a PR.

[2015-12-10 09:58] jmartinm commented on #276
This should address the point mentioned by @jacquerie https://github.com/inspirehep/inspire-next/pull/635

[2015-12-10 09:58] jmartinm commented on #276
I tested it locally with success :)

[2015-12-10 12:46] nikpap opened #637 "Journal publication info in HEP brief results"
Streamline the display of journal in brief results:
https://github.com/inspirehep/inspire-next/blob/master/inspirehep/base/templates/format/record/Inspire_Default_HTML_brief_macros.tpl#L31-L43

with what is currently used in production: https://github.com/inspirehep/inspire/blob/master/bibformat/format_elements/bfe_INSPIRE_publi_info.py#L28

[2015-12-10 13:25] #572 closed

[2015-12-10 13:59] nikpap opened #639 "Collections top bar vertical space"
The bar that is displayed on top of each page (displaying collections) currently takes up too much vertical space, especially on mobile. Therefore, it is suggested that the bar is hidden on scroll down, to resurface only when the user scrolls upwards.

Another option would be to somehow merge the collections bar in the top bar. There's some free space in between the logo and the resources menu.

[2015-12-10 14:44] kaplun opened #640 "Automatic tagging of HAL records"
In the Holding pen, when a new record comes through the suggestion workflow, if it's tagged as rejected by ML, but the submitter is a known HAL cataloguer (list available on legacy), the record should be tagged as HAL Hidden (i.e. in MARCXML it should have 980__a:HALhidden).

cc: @annetteholtkamp

[2015-12-10 15:03] kaplun commented on #276
So you mean it's solved and we can close?

[2015-12-10 15:26] bing13 commented on #582
:+1:

[2015-12-10 15:36] bing13 commented on #639
the bar with the INSPIRE Labs logo?

[2015-12-10 15:40] nikpap commented on #639
I'm referring to the second bar displaying the collections, as seen in https://qa.inspirehep.net/literature. I've edited the original message to make it clearer.

[2015-12-10 15:56] nikpap commented on #581
None of the searches advertised in the `example queries` or `how to search` box currently work. These will need to be tweak appropriately. In addition, searches using `and` or `or` produce a 500 server error.

Some notes regarding search:

- [ ] `find a` only works with author full name. For example `find a Maschke` will produce 0 results, while `find a Maschke, a.W.` will work. In the production

[2015-12-10 16:06] #276 closed

[2015-12-10 16:07] kaplun commented on #276
You could have just said yes.

[2015-12-10 16:07] kaplun commented on #276
:stuck_out_tongue:

[2015-12-10 16:15] jmartinm commented on #276
No time to write :P

[2015-12-10 16:54] aw-bib commented on #582
:+1:

As observation, a bunch of databases (e.g. WoS, Inspec, Scopus to name a few very prominent ones) recently moved to:

- Not more than 3 fields, by default on the easy search page (many go for one field)
- A drop down (often at at the end) for selecting the index/field to search, ie each input can be used to search any field
- A _AND_, _OR_, _AND NOT_ drop down in the front of the field (star

[2015-12-10 16:55] ioannistsanaktsidis commented on #485
[code]
@kaplun for these 2 I have some questions. For the first one I am not sure I am following. Should I check bookchapter from that field I guess facet_inspire_doc_type?It is the one generated here https://github.com/inspirehep/inspire-next/blob/master/inspirehep/modules/records/receivers.py . For the second I guess we can not add it yet as it is missing from the marc right? Cheers!

[2015-12-10 17:43] bing13 commented on #639
Thanks. I agree it would be a good goal to conserve that vertical space.  I think it's a nice affordance  to have all of the collections listed out. It's also essential to explaining the information architecture, so I wouldn't recommend we hide that.  Not sure what the design options would be - perhaps just tightening up the vertical spacing within the two bars?

[2015-12-10 17:49] bing13 commented on #581
I think it makes sense to advertise on this page only free form and "INSPIRE syntax".  We can offer Invenio/Elastic syntax from a help page for special applications, etc.  Offering another syntax might be helpful to users who already know that alternate syntax, and ourselves, but those are small numbers.

[2015-12-10 20:23] kaplun commented on #582
These sounds similar to what today is the `Advanced Search` in INSPIRE:
https://inspirehep.net/?ln=en&as=1

[2015-12-11 08:29] nikpap commented on #639
I'm not suggesting to completely hide the collections bar. I'm referring to an implementation like the Guardian's : http://www.theguardian.com/international.

The categories (collections in our case) are initially shown, however they are hidden when the user scrolls down, to provide more space for the content. Once the user scrolls up, the collection will be once again shown. I believe that's a va

[2015-12-11 09:41] #564 closed

[2015-12-11 09:41] #591 closed

[2015-12-11 10:02] #583 closed

[2015-12-11 10:05] jmartinm opened #648 "Tab index for main search bar"
Currently if the user presses tab in the main search bar the focus goes to the logo which is error prone.

`tabindex` should be set so that the focus goes to the search button.

[2015-12-11 10:35] jmartinm commented on #297
This is too broad issue, and parts of it have been tackled. I will close it and we can reopen individual ones.

[2015-12-11 10:35] #297 closed

[2015-12-11 10:41] jmartinm opened #649 "Modify facet behaviour to perform AND boolean operation for a given facet"
Currently, facets perform and OR query inside of a facet and AND query between facets.

As the numbers ElasticSearch returns correspond to the AND operation this is confusing, plus clicking on a second option inside of one facet brings more results instead of drilling down the results which causes user confusion.

![screen shot 2015-12-11 at 11 38 28 am](https://cloud.githubusercontent.com/assets/

[2015-12-11 10:44] jmartinm commented on #604
Yes, the fact that there are `null` values for HEP was not done in purpose and it is more a consequence of our `dojson` conversion. In fact @kaplun was doing some changes so that all these `null` values would be removed.

So the conclusion would be that records will only contain the information available and not all keys.

[2015-12-11 10:58] jmartinm commented on #639
+1 for that thin bar when scrolling down that would include search.

I am not sure showing the collections is needed when scrolling up though. As we have seen in our user testing that all the users stay in `Literature`, except some rare cases, I think the user that really needs it can scroll to the top of the page and change Collection.

[2015-12-11 11:06] kaplun commented on #604
Yes, I have a PR with this change: #617 (still not passing Travis) which contains this filtering.

[2015-12-11 12:29] jmartinm commented on #456
Fixed by https://github.com/inspirehep/inspire-next/pull/643

[2015-12-11 12:29] #456 closed

[2015-12-11 12:30] #648 closed

[2015-12-11 12:34] #604 closed

[2015-12-11 13:38] ioannistsanaktsidis commented on #649
@jmartinm  the PR for the issue.  https://github.com/inspirehep/invenio-search/pull/11

[2015-12-14 10:55] jmartinm opened #657 "Safari keeps reloading the page"
The search results page reloads indefinitely in Safari.

[2015-12-15 08:40] #649 closed

[2015-12-15 08:57] jmartinm opened #660 "typeahead: duplicate value in the search bar on blur"
After using typeahead on the search bar and performing a search, like:

![screen shot 2015-12-15 at 9 54 24 am](https://cloud.githubusercontent.com/assets/580727/11806218/ea01d6e2-a311-11e5-96d4-278418586dfe.png)

In the search results page, if the user clicks anywhere on the screen (blur event) the content in the search bar gets duplicated:

![screen shot 2015-12-15 at 9 55 48 am](https://cloud.g

[2015-12-15 09:03] jmartinm opened #661 "find a search"
The following search `find a Mangano, m` seems to not be working properly.

On INSPIRE, one can see that the authors in the papers include the author one is looking for (Michelangelo Mangano and his variations):

http://inspirehep.net/search?ln=en&ln=en&p=find+a+Mangano%2C+m

Instead on the local machine, the search brings unrelated results:

![screen shot 2015-12-15 at 10 03 16 am](https://cloud.

[2015-12-15 09:32] jmartinm commented on #457
QA deployment was done.

[2015-12-15 09:32] #457 closed

[2015-12-15 09:49] ioannistsanaktsidis commented on #657
@jmartinm  seems like we have this problem for a long time now. I am reverting commits and it is not fixed. You can assign it to me, I will take care.

[2015-12-15 09:57] jmartinm commented on #657
Thanks, @jalavik was also going to take a look today, you can update him if you discover what is going on.

[2015-12-15 09:58] jmartinm opened #662 "Citation count mismatch"
The following record in the demo records shows a citation count of 4.

![screen shot 2015-12-15 at 10 49 15 am](https://cloud.githubusercontent.com/assets/580727/11807414/ddf9b2e0-a319-11e5-8fff-7fa97b637982.png)

But after clicking on the link a search `refersto:1295494` is performed and the results returned are 3.

This mismatch needs to be checked.

[2015-12-15 09:59] ioannistsanaktsidis commented on #657
Cool! ;)

[2015-12-15 10:10] #553 closed

[2015-12-15 10:14] jmartinm opened #664 "Search bar and facets alignment"
Facets and search bar are aligned as far as no facets are selected:

![screen shot 2015-12-15 at 11 12 50 am](https://cloud.githubusercontent.com/assets/580727/11807846/dfdd2404-a31c-11e5-8db4-9eae24a60063.png)

But the moment one facet is selected there is a misalignment:

![screen shot 2015-12-15 at 11 13 58 am](https://cloud.githubusercontent.com/assets/580727/11807864/f3a606d6-a31c-11e5-9981-f

[2015-12-15 10:17] #585 closed

[2015-12-15 10:26] kaplun commented on #649
Are we sure we don't want to adjust this facet by facets? E.g. document type should really be in OR

[2015-12-15 10:26] kaplun commented on #649
The same for year

[2015-12-15 17:13] #452 closed

[2015-12-16 09:43] jmartinm opened #671 "BibTex error"
Some bibtex formats like:

![screen shot 2015-12-16 at 10 43 04 am](https://cloud.githubusercontent.com/assets/580727/11837531/d0208086-a3e1-11e5-8446-6fba3da3df10.png)

Are giving the following error:

[code]

[2015-12-16 10:56] jalavik opened #673 "Rawref/publication note search support"
Being able to search directly for `Phys.Lett. B716 (2012) 1-29` would be nice. Right now this returns 0 results from the demo-records. It should return 1.

It can be implemented by adding a new indexing enhancer making the indexed record contain the aggregated information from `publication_info` in a new key, like `rawref`.

Check how this information is already generated in the templates: https:/

[2015-12-16 10:59] #662 closed

[2015-12-16 11:45] #671 closed

[2015-12-16 11:59] jalavik commented on #296
Work started in #641

[2015-12-16 12:42] kaplun commented on #673
:+1: This is indeed a quickwin, as you propose it.

The wider approach though (which would consist in passing the query to refextract/grobid and have it parsed into its component at query time would be amazing :dancer:

[2015-12-16 12:42] #575 closed

[2015-12-16 12:42] #574 closed

[2015-12-16 14:03] kaplun opened #676 "Complex queries"
We should be able to support complex queries as in:
`(773__w:C14/06/16 or 773__w:C14-06-16 and 980__a:ConferencePaper) AND (refersto:journal:"Phys.Rev.ST Accel.Beams" or refersto:journal:"PRSTAB")`

-> http://inspirehep.net/search?ln=en&ln=en&p=%28773__w%3AC14%2F06%2F16+or+773__w%3AC14-06-16+and+980__a%3AConferencePaper%29+AND+%28refersto%3Ajournal%3A%22Phys.Rev.ST+Accel.Beams%22+or+refersto%3Ajou

[2015-12-16 14:47] aw-bib commented on #673
The main problem, in my experience, with the aforementioned query is that some part is "not quite correct". So passing it to some parser is not of too much help. It may exctract 2012 properly as a year, but if it's just wrong, e.g. Or you only have the start page but not the end, you know the volume but not the year.

So, I was always wondering if the following is reasonable / possible.

    Phys.

[2015-12-16 15:31] nikpap opened #677 "Record links"
"View in" is only displayed if they're is at least one from ADS or SLAC. This needs to be amended to include make sure there's at least one link in general.

https://github.com/inspirehep/inspire-next/blob/master/inspirehep/base/templates/format/record/Inspire_HTML_detailed_macros.tpl#L226-L228

[2015-12-16 21:22] kaplun commented on #673
That's why on legacy we employ the same algorithm we use in the reference extraction to try to parse the query. If a journal title, a year, an issue, a volume and a page(or range) is identified, then this is checked against existing records for publication info. In this sense we are better than Google, because Google will match also all the records having this pubnote in  the reference list.

But

[2015-12-16 21:25] kaplun commented on #673
Note also that users reported that they basically copy & paste references from PDFs and hope to have them to resolve to papers in INSPIRE. So the query pasted is typically as good as a typical reference. In this context the refextract/Grobid algorithms should provide out of the box the best parsing.

[2015-12-17 07:35] aw-bib commented on #673
I see especially this use case, of course. This is where, to my experience, bibliographic databases struggle, even though it is one of the most common ones.

It is surprising, OTOH, how often those references, even in copy&paste, are wrong. Slight typos e.g. in the reference a missing number, two numbers turned around, or, even this can happen, a typo in the curated bibliographic record. As the co

[2016-01-04 16:25] nikpap opened #679 "Search bar and collections bar styling"
This is the proposed style in order to save a lot of vertical space.

![labs-results](https://cloud.githubusercontent.com/assets/2742143/12094273/fb14f986-b307-11e5-91e3-9f1b6e763462.jpg)
![labs-detailed](https://cloud.githubusercontent.com/assets/2742143/12094274/fb15339c-b307-11e5-8eb9-5c00c5ac0be8.jpg)

[2016-01-04 16:41] jacquerie commented on #679
Can we preserve the colors, at least as a hint? Like, a colored bar at the bottom/top of each collection button, or just a corner.

[2016-01-05 08:53] jmartinm opened #680 "Use Zopfli to optimize bandwidth ?"
Read the following blog post:

http://blog.codinghorror.com/zopfli-optimization-literally-free-bandwidth/

And Zopfli seems like an interesting and 'not difficult' to implement improvement that could make our assets: plots, images, JS files much more efficient.

See comparison of jQuery library before/after compression:

https://mathiasbynens.be/demo/jquery-size

This is the library itself (writte

[2016-01-06 09:39] kaplun opened #681 "Final escaping mode"
We need to be able to properly escape abstracts and titles. This means: guessing if the text is actually in HTML or simple text. In the former case properly strip HTML tags, while respecting HTML entities and MathML tags, in the latter case, just escaping HTML.

This solution was already implemented in legacy in: inspirehep/inspire#144 and need to be ported to the Jinja equivalent in inspire-next.

[2016-01-06 09:39] kaplun commented on #681
cc: @jmartinm

[2016-01-06 10:13] jmartinm commented on #661
Related work in progress - https://github.com/inspirehep/invenio-search/pull/14

@Panos512

[2016-01-06 10:16] jmartinm commented on #470
Fixed in https://github.com/inspirehep/invenio-query-parser/pull/1

[2016-01-06 10:16] #470 closed

[2016-01-06 10:57] nikpap commented on #679
Yes. An idea would be to have the background color of each button reflect the color of the collection eg orange for literature.

[2016-01-06 11:58] jmartinm opened #682 "Google-style search syntax"
After the agreement in https://github.com/inspirehep/inspire-next/issues/609 google-style syntax should be implemented.

* [ ] A query like `foo bar baz` should match all the documents that have at least one of the words (hence an Invenio `foo or bar or baz`), and rank the results by how much the document matches the query(!), hence documents having all the 3 words will be ranked higher and so on.

[2016-01-06 11:59] jmartinm commented on #609
As there seems to be agreement on this, I have created this task - https://github.com/inspirehep/inspire-next/issues/682 Please, check if it is complete and we can then close this RFC.

[2016-01-06 13:42] jmartinm opened #683 "Complete support for Spires and Invenio keywords"
* [ ] Spires syntax [translates to the following keywords](https://github.com/inspirehep/invenio-query-parser/blob/master/invenio_query_parser/contrib/spires/config.py#L26).

[code]

Each of them needs to be configured either at [indexing time](https://github.com/inspirehep/inspire-next/blob/master/inspirehep/base/searchext/mappings/hep.json) or at [query time (where several fields and boosts can

[2016-01-06 14:33] jmartinm opened #685 "Set up analyzers"
* [ ] Take into consideration LaTeX formulas. Titles and abstract can contain LaTeX formulas that should not be broken by the tokenizer so that they are searchable. A [custom analyzer](https://www.elastic.co/guide/en/elasticsearch/reference/2.1/analysis-custom-analyzer.html) could be used.

* [ ] Experiment. Have an analyzed a non-analyzed version to match `CERN-LHC-LHCb` even when the user has ty

[2016-01-06 14:33] jmartinm commented on #685
Tasks extracted from https://github.com/inspirehep/inspire-next/pull/641

[2016-01-06 14:35] jmartinm commented on #296
Closing this as #682 #683 and #685 have the concrete tasks.

[2016-01-06 14:35] #296 closed

[2016-01-06 14:54] kaplun opened #686 "Reference matching 101"
#### Disclaimer
Here I describe current(/wished) state of the art for matching references against records. This issue should summarize ideally all the tricks scattered around `refextract`/`bibrank`/`bibformat`, and unhide all the unwritten rules.

### Sources
References are extracted in automatic fashion by `refextract` heuristics, and `Grobid` machine learning. They are also provided in a structu

[2016-01-06 14:54] kaplun commented on #686
cc: @inspirehep/inspire-dir

[2016-01-06 16:10] #573 closed

[2016-01-06 16:14] jmartinm commented on #474
So for the moment we stay with `Best Match`, `Newest First` and `Most Cited`.

We will further enquiry users to see if more options are needed.

[2016-01-06 16:14] #474 closed

[2016-01-07 02:12] tsgit commented on #686
I note that journal lookup from a reference in 999C5s currently uses journal index which utilizes a KB for synonyms
The reverse, looking for a pubnote in 999C5s does exact string match on the standardized pubnote.
This misses variations in abbreviated journal name, journal names with varying amounts of whitespace, alternative spellings of journal names, etc.

so "classic" bibrank is not symmetric

[2016-01-07 08:00] kaplun commented on #686
What if, in Labs, we stop using pubnotes, and rather store the several components separated, and indeed always normalize a journal title name to its default name? Then the matching could be done bidirectionally...

[2016-01-07 09:11] fschwenn commented on #686
As I said on stand-up I also started to write something (offline). Most of it already is covered by Sam's description - tanks a lot!

A few additions:
* arxivIDs are not unique identifiers within INSPIRE! At least the way we run INSPIRE at the moment.
  * They are not injective: journal articles are the 'master', i.e. if an arXiv paper is split into two articles (very clever to 'increase' your sci

[2016-01-07 09:28] jmartinm opened #688 "Select automatically bibtex when clicking on Cite"
To speed up, the use case of getting, e.g the BibTex of a paper, it would be good if when clicking on `Cite` on a brief or detailed view the content would be automatically selected.

![screen shot 2016-01-07 at 10 26 42 am](https://cloud.githubusercontent.com/assets/580727/12166886/3caecee4-b529-11e5-95d5-89c9eb5198d3.png)

See, for example, how the cite button works in https://www.semanticscholar

[2016-01-07 09:30] kaplun commented on #686
Ouch! Right! :flushed: Sorry! I needed to write down all the scattered concepts bubbling in my head and forgot about that.

I am incorporating your comments.

Are you sure this is not already enforced by BibUpload, refusing to upload a record having the same arXiv ID of an existing record? (via the 035 check).

This is OK: after the merge the record will have one DOI and 2 arXiv IDs, thus it can b

[2016-01-07 09:38] ksachs commented on #686
Not really true: a book starts on page 1 as well as the 1-st chapter.
We artificially introduced pp.1-123 to make page 1 unique. E.g.

    001237271 773__ $$cpp.1-624$$pLect.Notes Phys.$$v871$$y2013
    001204463 773__ $$c1-11$$pLect.Notes Phys.$$v871$$y2013

[2016-01-07 09:46] kaplun commented on #686
Mmh. In your example, `1204463` is a book chapter of `1237271`. In a corresponding reference, either we know the reference points to the Book Vs. the Chapter, or we have then to use the full range (when available). I am not sure the current convention of adding the `pp.` prefix in `773__c` is going to be still useful in the future, though. Can we decide to remove such prefix since the information

[2016-01-07 09:51] kaplun commented on #685
When possible, :+1: to indeed use index-time expansions + serch-time normalization based on Groovy!

[2016-01-07 10:07] kaplun commented on #685
@fschwenn the `HEP.rdf` ontology is still maintained at DESY, correct? Do you think it can be used as a basis for building a synonyms table? (i.e. simple string mapping useful for indexing/searching a given word as two words).

[2016-01-07 10:15] ksachs commented on #686
How??

     001276834 999C5 $$01237271$$hD. E. Kharzeev, K. Landsteiner, A. Schmitt and H. -U. Yee$$o11$$sLect.Notes Phys.,871,1$$y2013

you only have the authors in addition to the PBN

[2016-01-07 10:23] kaplun commented on #686
(PBN = PubNote?)

Yep, I assume indeed we never know it (from refextract). So in that case the only discriminant is the author list, or alternatively raise Asana ticket...

[2016-01-07 10:27] jmartinm opened #689 "Display document type badges"
Now that we store the document type inside the record metadata and show it in facets:

![screen shot 2016-01-07 at 11 22 50 am](https://cloud.githubusercontent.com/assets/580727/12168215/16f56cf0-b531-11e5-88f4-65eb6a0798ea.png)

Users have shown interest in having for each search result a 'badge' that shows the document type so that at first glance it would be easier to find what you are looking

[2016-01-07 11:34] fschwenn commented on #685
Yes, the ontology is still maintained at DESY. It contains informations on synonyms in the sense that if altLabel is found, prefLabel is assigned. But one can not use it without proof reading, e.g.
<prefLabel xml:lang="en">string: Green-Schwarz</prefLabel>
<altLabel xml:lang="en">Green-Schwarz action</altLabel>
<altLabel xml:lang="en">Green-Schwarz superstring</altLabel>

If "Green-Schwarz action"

[2016-01-07 11:42] fschwenn commented on #686
https://inspirehep.net/record/339178/references
The first two references point to the original article and its Erratum, i.e. to the same INSPIRE record.
If they were combined in one marc field (or whathever structure), the system would know about and could display it just once.

[2016-01-07 12:50] kaplun commented on #685
I see... @inspirehep/inspire-dir do you have maybe a good idea were we could obtain a HEP synonym list? E.g. to be able to search for β and beta, for "HEP" and for "High Energy Physics", and of course much more sensible substitutions...

[2016-01-07 13:25] jmartinm commented on #685
Not sure if this can be helpful :) http://www.personal.kent.edu/~plucasst/HEPThesaurus/Alphabetical%20Thesaurus.htm

[2016-01-07 13:32] jmartinm commented on #664
Irrelevant after https://github.com/inspirehep/inspire-next/issues/679

[2016-01-07 13:32] #664 closed

[2016-01-07 13:49] jmartinm commented on #677
By the way, note this change on ADS linking https://github.com/inspirehep/inspire/pull/145/files It needs to be taken into account as the metadata that we receive for new records will have the ADS information in field `035` instead of the `url`.

[2016-01-07 15:20] bing13 commented on #688
Nice. What about a "copy to clipboard" button?

[2016-01-07 16:00] bing13 commented on #689
Worth trying and testing, especially since we seem to have a principled spot for it.

More useful data is great, unless it starts overloading the interface.

[2016-01-07 16:50] jmartinm commented on #688
Yes, that would be nice too. It was always a bit tricky to implement but I see this library might do the job https://zenorocha.github.io/clipboard.js/

[2016-01-08 12:02] kaplun commented on #680
Maybe something to propose into invenio-assets?

[2016-01-08 14:17] kaplun opened #691 "Citation number excluding personal citations"
From https://rt.inspirehep.net/Ticket/Display.html?id=506650 one can see there is a need for citation count excluding references from papers where the current author is involved.

Ideally this could be done for authenticated users having cleaned their author profiles and using information stored in the future to come Neo4J.

[2016-01-08 14:17] kaplun commented on #691
CC @jmartinm, @tomaszgy, @eamonnmag.

[2016-01-08 14:28] eamonnmag commented on #691
Just to confirm, this is to add a field to the page to show the citation count excluding self-citations, rather than changing the actual displayed citation count? I would say this should only be shown on the author profile page itself. Otherwise there's a risk that it will just confuse.

[2016-01-08 14:31] eamonnmag commented on #689
In a previous mockup, I had this included.

![screen shot 2016-01-08 at 15 31 04](https://cloud.githubusercontent.com/assets/282396/12200054/ddfe2a44-b61c-11e5-94de-92031ab58db7.png)

[2016-01-08 14:40] kaplun commented on #691
Yes, :+1:  it's more related to the author profile page rather than search results. Sorry if I have not mentioned that part. The important bit here, is really to exclude the citation involving the particular current author (and not in general self citation as defined as "those between papers having non-empty intersection of the corresponding author list").

[2016-01-08 14:41] eamonnmag commented on #691
Cool, on the author page, it makes a lot of sense!

[2016-01-08 15:42] kaplun opened #693 "Journal search"
It should be possible to search for: `journal:Phys.Rept.` as well as `journal:Phys journal:Rept` (generated automatically by SPIRES syntax `find j Phys Rept`. This does not work on legacy but would it be great if it worked on Labs.

See also: https://rt.inspirehep.net/Ticket/Display.html?id=323751

[2016-01-08 16:09] annetteholtkamp commented on #689
In my view this option is nicer than moving it far to the right.

- Annette

On 08 Jan 2016, at 15:31, Eamonn Maguire <notifications@github.com> wrote:

[2016-01-08 16:25] jmartinm commented on #689
Yes, the only thing is to have a consistent position for it. Apart from the title and authors the rest of the information appears or not depending on the record so we just need to make sure that such badges have a constant position to not distract too much.

[2016-01-11 08:46] ksachs commented on #685
I think SPIRES had a list at least for the most common abreviations. E.g. title-variant supersymmetry got automatically assigned to articles with title SUSY.

[2016-01-11 10:09] jmartinm opened #694 "Document type multiple preprint"
Records get multiple times the preprint document type. See for example https://qa.inspirehep.net/record/146539/export/recjson (field `facet_inspire_doc_type`)

This is due to the following code https://github.com/inspirehep/inspire-next/blob/master/inspirehep/modules/records/receivers.py#L66 where for each collection as a fallback the type `preprint` is being added.

[2016-01-11 10:10] jmartinm opened #695 "Filter by year: elements with 0 matches"
A search like https://qa.inspirehep.net/search?post_filter=(doc_type%3A%22proceedings%22%20AND%20doc_type%3A%22review%22%20AND%20doc_type%3A%22preprint%22)

yields in the year filter some elements with 0 matches:

![screen shot 2016-01-11 at 11 10 15 am](https://cloud.githubusercontent.com/assets/580727/12230924/eca3a630-b853-11e5-82da-cd990e46d385.png)

[2016-01-11 10:34] jmartinm commented on #695
By the way, with the help of @eamonnmag and to make that facet more useful we should move to an approach like the one here https://www.semanticscholar.org/search?q=%22Pedro%20M.%20Domingos%22 as our user testing suggests that selecting exact years is not a typical use case (better to have a range)

[2016-01-11 10:39] ioannistsanaktsidis commented on #695
I guess it should be used d3, right @eamonnmag ? I would like to work on that, although I have almost no idea on d3 :P

[2016-01-11 12:28] ioannistsanaktsidis opened #697 "Fix publi_info display in latex."
Currently due to some model changes we did, we caused a problem in publi_info.
<img width="869" alt="screen shot 2016-01-11 at 13 28 19" src="https://cloud.githubusercontent.com/assets/7301890/12233393/365d455c-b867-11e5-8839-d6ff89dcd4f2.png">

[2016-01-11 13:07] ioannistsanaktsidis commented on #694
@jmartinm  could you pls remind me the fallback? It was sth like if nothing exists and we have publication info  and  there is not page_artid in publication info we add 'preprint' right?

[2016-01-11 13:53] annetteholtkamp commented on #694
If it’s neither:

published
thesis
book
bookchapter
proceedings
note

and it has no complete publication info in 773 (complete means it has a 773__c) then it’s a preprint.

- Annette

On 11 Jan 2016, at 14:07, ioannistsanaktsidis <notifications@github.com> wrote:

[2016-01-11 13:58] ioannistsanaktsidis commented on #694
@annetteholtkamp  thank you !

[2016-01-12 09:11] jmartinm opened #701 "Print view for detailed records"
It should be possible to print a detailed record and get all the important information correctly formatted.

At the moment, printing the a detailed page looks like:

![screen shot 2016-01-12 at 10 05 42 am](https://cloud.githubusercontent.com/assets/580727/12259171/1b95e29e-b914-11e5-984a-9345aaeed077.png)

* The top collection bar of the page should be removed to focus on the detailed view.

* Fe

[2016-01-12 09:22] ioannistsanaktsidis commented on #697
@jmartinm you can assign this to me.

[2016-01-12 09:46] kaplun commented on #697
Would be great to add a test to ensure there are no longer regression on these less visible formats.

[2016-01-12 09:52] kaplun commented on #701
@jmartinm I have added some more things to hide...

[2016-01-12 09:53] jmartinm commented on #701
:+1:

[2016-01-12 14:26] ioannistsanaktsidis commented on #697
:+1:

[2016-01-12 16:43] #695 closed

[2016-01-12 16:43] #694 closed

[2016-01-13 08:51] #479 closed

[2016-01-13 13:26] ioannistsanaktsidis opened #709 "Duplicate dois in model"
We need to clean the dois field as there are still duplicate values in it.
[code]

[2016-01-13 13:26] ioannistsanaktsidis commented on #709
@jmartinm you can assign this to me.

[2016-01-13 16:00] nikpap opened #714 "Plots: image thumbnails"
Move image thumbnails of plots to a column on left side and streamline their size to a standard one.

[2016-01-13 16:14] jmartinm commented on #709
@kaplun as mentioned here https://github.com/inspirehep/inspire-next/issues/685#issue-125186762

Shall we on ingestion time make sure the doi does not have any prefix?

[2016-01-13 16:17] jmartinm commented on #657
Fixed https://github.com/inspirehep/invenio-search/pull/13

[2016-01-13 16:17] #657 closed

[2016-01-13 16:22] jmartinm commented on #581
This gives no results on production either https://inspirehep.net/search?ln=en&p=arXiv%3A9708453&of=hb&action_search=Search&sf=earliestdate&so=d

[2016-01-13 16:53] jmartinm opened #716 "Search fixes"
Here we can keep track of searches that are not working (or not working as expected).
- [x] `find a` only works with author full name. For example `find a Maschke` will produce 0 results, while `find a Maschke, a.W.` will work. In the production website, writing the surname of the author seems to be enough to produce results.
- [x] Searching for an author's surname produces 0 results.
- [ ] Search

[2016-01-14 09:07] kaplun commented on #581
Yep, this is due to the fact the current global search is adding references, but is not adding arxiv/reportnumbers... (the wrong record is matched because of the references).

[2016-01-14 10:16] kaplun opened #721 "Enhanced MARCXML links part 2"
We should add support for
* `701__z` for record ID of institution of supervisor
* `773__0` with Record ID of corresponding Report (as coming from $r)
* While there: populate outgoing 961__c with: creation date, to be stored into the create metadata field.

* [x] Amend legacy to export these fields
* [x] Recreate demo records
* [x] Recreate dump
* [x] Amend dojson to support these fields @ioannists

[2016-01-14 10:17] kaplun commented on #721
cc @jmartinm

[2016-01-14 10:52] kaplun commented on #709
Yep, actually we could use the `before_record_insert` and `before_record_update` signals for that, and in general for all these easy normalizations...

[2016-01-14 12:50] #485 closed

[2016-01-14 13:18] jmartinm opened #722 "Indexing issues earliest_date"
On the latest data import from production, the following records could not be indexed due malformed `earliest_date`:

[code]

Error is:

[code]

Here is where we set the field `earliest_date` - https://github.com/inspirehep/inspire-next/blob/5f98853705a19c103d2eff3d7613509cd00cb842/inspirehep/dojson/hep/receivers.py#L32

Might be that those records do not have a value in the field. That could be p

[2016-01-14 13:21] kaplun commented on #485
@ioannistsanaktsidis sorry seeing this only now. Indeed I discussed with @annetteholtkamp and you can ignore 710__0. For 773__0 indeed if the current document is of type bookchapter, then you populate book.recid.

[2016-01-14 13:23] kaplun commented on #721
Dump is being recreated at the moment, and will be available by tomorrow evening.

[2016-01-14 13:27] jmartinm commented on #721
Shall we update the demo records so that @ioannistsanaktsidis can complete the `dojson` part by tomorrow?

[2016-01-14 13:46] kaplun commented on #721
Yep I am doing that now

[2016-01-14 13:50] jmartinm opened #724 "Records with dojson issues"
The following record ids had problems with the dojson conversion and were not imported into QA.

[code]

The XML of those records can be downloaded here - https://www.dropbox.com/s/u0kzttahwsq5vle/wrong-marcxml.xml?dl=0

`dojson` needs to be amended.

[2016-01-14 13:53] annetteholtkamp commented on #722
I checked a few, and they all have a date field - most of them 773__y. Do you have any expectation on the range of years? The ones I looked up had all a year before 1900.

- Annette

On 14 Jan 2016, at 14:18, Javier Martin Montull <notifications@github.com> wrote:

[2016-01-14 13:57] jmartinm commented on #722
Thanks @annetteholtkamp

Indeed the problem (or one of them) seems to be:

[code]

[2016-01-14 14:08] kaplun commented on #721
Here it is coming #725

[2016-01-14 16:35] ioannistsanaktsidis commented on #683
After checking all the fields and making some searches I get the following results.
037__c:'astro-ph.CO' Labs:10 results, Legacy:10 results,
 '046__a': Missing field,
246__a:'Integrated Sachs Wolfe Effect and Rees Sciama Effect' Labs:1 result, Legacy:1 result,
 '595': not working,
 650__a:'Astrophysics' Labs:53 results, Legacy:0 results,
695__a:'anisotropy' Labs: 7 results, Legacy: 7 results,
 773

[2016-01-14 16:36] ioannistsanaktsidis commented on #683
In the above comment I will comment the searches that I am testing and the results that I am getting from  labs and legacy. Ideally in the end we should have the same results. Cheers.

[2016-01-14 16:43] jalavik commented on #722
Good ol' dates before 1900 issue. In Invenio date utils we fixed it a while back. Perhaps the utility can fall back to it, or use it somehow. https://github.com/inveniosoftware/invenio-utils/blob/master/invenio_utils/date.py

[2016-01-14 21:24] kaplun opened #727 "New mapping not compatible with previous record"
I have just tried reindexing on qa with latest configuration.
The reindexing currently crashes with the following exception in the log:
[code]

[2016-01-14 21:25] kaplun commented on #727
cc: @jmartinm, @ioannistsanaktsidis

[2016-01-14 21:29] ioannistsanaktsidis commented on #727
@kaplun I had the same problem in my localhost,but after the latest fixes I applied I had no longer this problem. It is the strange behaviour that I was discussing with @jmartinm this morning

[2016-01-15 15:31] Panos512 commented on #716
inspirehep/inspire-next#715 fixes the first two issues

[2016-01-18 12:23] jmartinm opened #732 "Spires syntax crash"
A query like `find a Ellis and` crashes:

[code]

* [ ] Fix error in invenio-query-parser
* [ ] Create regression test

[2016-01-18 12:32] jmartinm commented on #716
The third one seems to still be a problem even after merging https://github.com/inspirehep/invenio-search/commit/f2c9a074cc804e745f1f959fa7d73199be3774da

I have loaded record https://inspirehep.net/record/420758/export/xm into my system and searching for:

`hep-ph/9607327`

does not bring show that record as a result.

It seems a bit weird as the query is interpreted correctly:

[code]

And the f

[2016-01-19 08:07] kaplun opened #735 "Bug in handling experiments"
See: https://sentry.cern.ch/inspire-sentry/inspire-labs-qa/group/9799/
[code]
AttributeError Root Cause
'NoneType' object has no attribute 'lower'

[2016-01-19 09:00] Panos512 commented on #735
That's strange. If the `accelerator_experiments` field of a record is empty it shouldn't proceed - https://github.com/inspirehep/inspire-next/blob/master/inspirehep/modules/records/receivers.py#L88

[2016-01-19 09:01] jmartinm commented on #727
This was due to changes in dojson and was solved after recreating the records, right @kaplun ? We close this issue then?

[2016-01-19 09:44] ioannistsanaktsidis opened #737 "Fix the citation number latex"
Currently in the output formats (latex, cv latex) we are missing the citation number.
e.g %245 citations counted in INSPIRE as of 21 Aug 2015

[2016-01-19 09:44] ioannistsanaktsidis commented on #737
cc @jmartinm @kaplun you can assign this to me.

[2016-01-19 10:28] jmartinm commented on #722
Thanks @jalavik just had a look and tried some of the utilities there but did not see any that by passing a year like the example above would return the correct year `1862-01-01` do you know which one should be used?

[2016-01-19 10:41] jmartinm opened #738 "Errors in detailed records for qa.inspirehep.net"
After running a test against all records in qa.inspirehep.net to see which detailed records would cause an error, here is [a list with 27142 of them](https://www.dropbox.com/s/mkva4fu3a4jmk2j/failed-recids.txt?dl=0).

I have extracted the XML from production so that the records can get loaded locally and fixed.

https://www.dropbox.com/s/x5gn76k4myasrco/bad-xml.xml?dl=0

To load locally:

[code]

[2016-01-19 12:39] jalavik opened #740 "Collaboration.raw leftover in SEARCH_ELASTIC_KEYWORD_MAPPING"
d87a90dab0f4e168b496ebadc262b561c1fb5769 changed the collaboration spec and it is no longer any `raw` property. Shall this be reflected also in `SEARCH_ELASTIC_KEYWORD_MAPPING`? E.g. change to `collaboration.value`.

PS: hep-0.0.1.json schema needs to be updated as well.

cc @ioannistsanaktsidis @jmartinm

[2016-01-19 12:40] ioannistsanaktsidis commented on #737
@kaplun  @jmartinm  I am looking the legacy code and I see that for the date we used.
from invenio.bibrank_tag_based_indexer import get_lastupdated
Is this the same as u'creation_modification_date field we have?

[2016-01-19 12:43] ioannistsanaktsidis commented on #740
@jalavik  I guess we can keep only the [collaboration.value]. I am changing the SEARCH_ELASTIC_KEYWORD_MAPPING in this task https://github.com/inspirehep/inspire-next/pull/700/files so it will be removed when the PR is merged.

[2016-01-19 12:45] ioannistsanaktsidis commented on #737
this is the function used in legacy
[code]

[2016-01-19 12:45] jalavik commented on #740
@ioannistsanaktsidis Cool! Will the schema also be updated to reflect current data model as well?

[2016-01-19 12:46] ioannistsanaktsidis commented on #740
Yes we should also update the hep-0.0.1.json. I can create a task for this and as soon all the related model tasks we have are merged, I can take care of updating the whole json. Cheers!

[2016-01-19 12:47] ioannistsanaktsidis opened #741 "Update hep-0.0.1.json schema."
After all the related model tasks are merged we should update the hep-0.0.1.json so as to keep the schema up to date.

[2016-01-19 12:47] ioannistsanaktsidis commented on #741
@jmartinm you can assign this to me,

[2016-01-19 12:49] kaplun commented on #737
Nope, not really. This is the last time the ranking algorithm responsible for computing citations has run. I think we can skip mentioning this date in Labs, since these numbers should be computed at runtime nowadays, and always be correct.

[2016-01-19 12:50] ioannistsanaktsidis commented on #737
So we can just keep this:
[code]
?

[2016-01-19 13:50] jmartinm opened #744 "reference links not resolved properly"
In records where the references have recids, like https://qa.inspirehep.net/record/1093742 the references are currently not being shown as linked.